In [1]:
# -*- coding: utf-8 -*-

In [2]:
# YUEGE LOW-LEVEL MODULES
# These are to be called only by Ting's mid-level JSON build code

In [3]:
# Please copy this to any new notebook 
import os, sys, time, math
from IPython.display import display
import pandas as pd

nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

In [4]:
from bipolo import db

# Engine is the key to executing raw sql
engine = db.engine

In [5]:
# SEARCH MODE MODULES

In [6]:
# Returns matching restaurant names and business_ids
# Will change to provide the full list of restaurants

def alg_search(string, limit):
    sql = """SELECT CONCAT(b.name, ' (', address, ')') AS name, id FROM business AS b 
          WHERE b.name LIKE '{xxx}' LIMIT {yyy}"""
    # Note: Double %% required since Python interprets single % for replacement 
    sql = sql.format(xxx=string+'%%', yyy=limit)
    return pd.read_sql(sql, engine)

start_time = time.time()
display(alg_search('pol', 10))   
print("--- %s seconds ---" % (time.time() - start_time))

c:\Anaconda\lib\site-packages\sqlalchemy\dialects\mysql\base.py:1569: Warning: '@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead
  cursor.execute('SELECT @@tx_isolation')

                                   name                      id
0        Polish Goodies (8903 N 7th St)  f1KTr8efZfDUZcxG32kKIw
1      Pollo Campero (7745 W Thomas Rd)  GRAO7h1dc7qTDub4JQIDCA
2  Poliberto's Bell Rd (3220 W Bell Rd)  JZKefaX9VXvmkcfMmbyrEg
3   Pollo Sabroso (1602 E Jefferson St)  u3WKEGTyfRgxx-PDotWmaQ

--- 0.207000017166 seconds ---

In [7]:
# FULL_LIST_DF returns names and restaurant_ids for all Phoenix restaurants
# Frontend code will cache the list for local search handling
# Parms: NONE! 

def alg_full_list(): 
    
    sql = """SELECT CONCAT(name, ' (', address, ')') AS restaurant, id AS restaurant_id 
             FROM business"""
    return pd.read_sql(sql, engine)

start_time = time.time()
display(alg_full_list())
print("--- %s seconds ---" % (time.time() - start_time))

,restaurant,restaurant_id
0,"Kabab House (3510 E Bell Rd, Ste 3)",--g-a85VwrdZJNf0R95GcQ
1,Matt's Big Breakfast (801 N 1st St),-050d_XIor1NpCuWkbIVaQ
2,"Tea2go (5415 E High St, Ste 103)",-0aIra_B6iALlfqAriBSYA
3,"Dubliner (3841 E Thunderbird Rd, Ste 111)",-0tgMGl7D9B10YjSN2ujLA
4,Game Seven Grill (201 S 4th St),-0WegMt6Cy966qlDKhu6jA
5,"Matt's Big Breakfast (3800 E Sky Harbor Blvd, ...",-1UMR00eXtwaeh59pEiDjA
6,Taco Bell (3507 W. Peoria Ave.),-2isRNVb6PDuBagELL5EBw
7,La Fontanella Restaurant (4231 E Indian School...,-8JaNeG3etLgOVyg2gOIiA
8,The Melting Pot (3626 E Ray Rd),-9eNGMp8XiygI8t8QFuFWw
9,Zen 32 (3160 E Camelback Rd),-A9sm-E6uQxWTJ_MuyOzFw
10,Tuck Shop (2245 N 12th St),-Bdw-5H5C4AYSMGnAvmnzw
11,Mariscos Playa Hermosa (1605 E Garfield St),-bMZCfTK7fxFaURynKpBMA
12,Taquizas Kabronis (15645 N 35th Ave),-Bo1rsE6Mfn0wdqnIj3GSA
13,Carly's Bistro (128 E Roosevelt St),-BxWyEIQ6wypT-37MzZizQ
14,The Good Egg - Uptown (50 E Camelback Rd),-d1xHUrLRbfJNqd5A_uP6A
15,Matador Restaurant (125 E Adams St),-dgUbX_lFqklJuf29A7piQ
16,Black Chile Mexican Grill (2502 E Camelback Rd),-DrDzpZaMrNnH55ZVyTXRQ
17,"Cousins Subs (4801 E Washington St, Ste 1)",-Du1WSRseqUXbCt_K-D-ww
18,The Original Phoenix Greek Festival (1973 E Ma...,-exE739XC1NqZTJKjs83bg
19,Mexx32 (3154 E Camelback Rd),-e_UQJVTzIPweX4TcPUYVw
20,"Grill Wrap Cafe (4804 E Chandler Blvd, Ste 108)",-FveSBaantlFExq__ESLcw
21,Ed's (),-FWhwGTP9YsV_5ONgdQ4hg
22,Green Tea Chinese Restaurant (3961 E Chandler ...,-H1-IzxW6CXmjhmF5F6iMA
23,Subway (5127 W Indian School Rd),-HfeXGN4O83x8P4rZc-_kQ
24,Two Hippies Breakfast Joint (4306 N 7th Ave),-hn7E7b3VwRjwhNEDgmGIQ
25,Peter Piper Pizza (4024 N 67th Ave),-HO8ejDGgvj_Guw3R6lH1g
26,Touch Of Thai (16816 N 35th Ave),-hq09PjRpGcx4XXhrqh5xw
27,Switch Restaurant & Wine Bar (2603 N Central Ave),-Ht7HiGBox8lS1Y8IPjO8g
28,"Sushi Station (20910 N Tatum Blvd, Ste 150)",-ITj6Pu8Gdw8MmLf0XBEKQ
29,Subway (6805 N 19th Ave),-Iu6EwsbZQZY8HTBN853Iw
...,...,...
3520,McDonald's (6005 S Central Ave),_imnJaX4EG_BaoXMCyxFig
3521,Julioberto's (1832 W Thunderbird Rd),_IsmLuyEvcKzcBmbMHCCfg
3522,KFC (2902 N 7th Ave),_jGyZz4v9dedx_LIdJHulw
3523,Pizza People Pub (1326 N Central Ave),_JZ7hXqOZ_MngjPWFgER0w
3524,Doner Kebab Chef RD (4550 E Cactus Rd),_lD9Y_0OfzZjfz5s-FVwqQ
3525,Sub Factory (1747 E Camelback Rd),_likkCtISrdc6OnUO6wpCA
3526,"Pizza Hut (4810 E Ray Rd, Ste 1)",_LNVUUb8bTvOxfUNABf0xA
3527,Petes Fish & Chips (1111 E Buckeye Rd),_MeGxn_23d51eOyk-0XuHg
3528,"Rick's Cafe Metro (10000 N 31st Ave, Ste A100)",_MFOesFi37QwBKtTspCarw
3529,Spinato's Pizzeria (5509 N 7th St),_mg5bYknpZgaWSfjQVmrJQ
3530,Pat's Pizza Plus (1135 E Glendale Ave),_MHUEErH3KW_KvVSOjyYhg
3531,"City Square Deli & Grill (22601 N 19th Ave, St...",_MI20v3QRDrCVXgpzje-Ag
3532,"The Lunch Lounge (501 N 44th St, Ste 175)",_mqUzNXs_sJ1EJYgYZYszg
3533,"South China Express (1616 W Montebello Ave, St...",_Mt217a3ia0TDuNRDFY6Tw
3534,Pak Afghan Halal Restaurant & Catering (1638 N...,_nmOWqgx_KdLrj5pehDQmg
3535,The Joy Bus Diner (3375 E Shea Blvd),_O2_jwNT_3FDaSRZ50jvrw
3536,"Panini Bread and Grill (4129 E Van Buren St, S...",_oKvRJPi7rQViDeCwXF8qw
3537,Bertie's Of Arcadia (40 Palms),_PHjKNw3rv_CEU7GvuA6-Q
3538,Tiny's Country Cafe (15414 N 19th Ave),_rA40C78qQgsFv8wFOQqgA
3539,Blue Sage (5350 E Marriott Dr),_rxm3RZlb0reZDzCkKltow
3540,"Domino's Pizza (5030 W McDowell Rd, Ste 51)",_RYkQNjV_D6xOzRp3RwVOQ
3541,Fat Ass Burger (3102 N 16th St),_S9wayPpSGUthFzBJ-IVYQ
3542,Seamus McCaffrey's (18 W Monroe St),_sOni_t0FvAQuUDBEGe3Gg
3543,"Hotdog On a Stick (9617 N Metro Pkwy W, Ste 2044)",_uudqocL6XhyDWbrdK1BMg
3544,"Smashburger (950 E Bell Rd, Ste 130)",_VHOD-pcrAZFKNinI7GCUQ
3545,Chefs At Your Home (2507 E Roma Ave),_Wcp-JfSzhjplX0J1Q_5OA
3546,Rokerij (6335 N 16th St),_WtxQbDK7B-ExGdeG-2j6Q
3547,Blue Hound Kitchen & Cocktails (2 E Jefferson St),_WvEXsx2eZ53lTWHlIx9kg
3548,Pizza & Krispy Krunchy Chicken (4105 E Mcdowel...,_yxPEM0oxih1H0SoHJ-k5w
3549,"Paradise Bakery & Cafe (2502 E Camelback Rd, S...",__aKnGBedQ51_hEc3D9ARw

--- 0.0490000247955 seconds ---

In [8]:
# EXPLORE MODE MODULES

In [9]:
# Auxilary Functions to help us calculate user influence index

# Logdiv returns logn(val+1)/divisor up to a maximum value of 1
def inf (val, divisor):
    return min(math.log(val+1)/divisor, 1)

# Influence_calc considers # useful+funny+cool review votes, # friends, # total reviews, # fans, and average rating 
def influence_calc (df):
    return round((inf(df['votes'],7) + inf(df['friends'],6) + inf(df['total_reviews'],6) + inf(df['fans'],5) + df['avg_rating']/5), 2)

In [29]:
# Returns user details and influence index calculation
# Note: Left join in case user does not have any friends
def alg_user_profile (user_id):
    sql = """SELECT u.name, u.id AS user_id, u.review_count AS total_reviews, u.average_stars AS avg_rating, 
         u.yelping_since, (u.useful + u.funny + u.cool) AS review_likes, u.fans, COUNT(f.user_id) AS friends  
         FROM user AS u LEFT JOIN friend AS f ON u.id = f.user_id WHERE u.id = '{xxx}'
         GROUP BY f.user_id"""
    sql = sql.format(xxx=user_id)
    active_user = pd.read_sql(sql, engine)

    # Caculate influence index subscores 
    active_user['total_reviews_score'] = round(inf(active_user['total_reviews'],6), 2)
    active_user['review_likes_score'] = round(inf(active_user['review_likes'],7), 2)
    active_user['fans_score'] = round(inf(active_user['fans'],5), 2)
    active_user['friends_score'] = round(inf(active_user['friends'],6), 2)
    active_user['avg_rating_score'] = round(active_user['avg_rating']/5, 2)    
    
    # Total subscores for final influence index
    active_user['influence'] = active_user['total_reviews_score'] + active_user['review_likes_score'] + \
          active_user['fans_score'] + active_user['friends_score'] + active_user['avg_rating_score']
    active_user['influence'] = round(active_user['influence'], 2)
    
    return active_user

start_time = time.time()
user_id = 'CHa6N1KJtRmspb_-5RRjAA'
user_id = 'ImGV_gmmIKmwTm5LKQ0y3g'     # Trent = selected; Del Taco = active restaurant
#user_id = 'ck8kvKV33VvPrv_E4kbh1w'   # 404 Not Found User
display(alg_user_profile(user_id))   
print("--- %s seconds ---" % (time.time() - start_time))

,name,user_id,total_reviews,avg_rating,yelping_since,review_likes,fans,friends,total_reviews_score,review_likes_score,fans_score,friends_score,avg_rating_score,influence
0,Trent,ImGV_gmmIKmwTm5LKQ0y3g,4,5.0,2014-11-27,5,0,0,0.27,0.26,0.0,0.0,1.0,1.53

--- 0.0319998264313 seconds ---

In [11]:
# Returns restaurant details with categories and attributes csv lists

def alg_restaurant_profile (restaurant_id):
    # Get basic restaurant info
    sql = """SELECT b.name, b.id AS restaurant_id, b.stars AS avg_rating, b.review_count AS total_reviews, 
          b.neighborhood, b.address, b.city, b.state, b.postal_code AS zip 
          FROM business AS b WHERE b.id = '{xxx}'"""
    sql = sql.format(xxx=restaurant_id)
    active_restaurant = pd.read_sql(sql, engine)

    # Get category list as a csv string
    sql = """SELECT GROUP_CONCAT(category SEPARATOR ',') FROM category WHERE business_id = '{xxx}' GROUP BY business_id"""      
    sql = sql.format(xxx=restaurant_id)
    categories = pd.read_sql(sql, engine)    
    # Handle no info returned 
    if (categories.empty):                   
        active_restaurant['categories'] = "(No category information)"  
    else:
        active_restaurant['categories'] = categories.iloc[0,0]
    
    # Get attribute list as a csv string
    sql = """SELECT GROUP_CONCAT(name SEPARATOR ',') FROM attribute WHERE business_id = '{xxx}' AND value = '1'"""
    sql = sql.format(xxx=restaurant_id)
    attributes = pd.read_sql(sql, engine) 
    if (attributes.empty):                   
        active_restaurant['attributes'] = "(No attributes information)"  
    else:
        active_restaurant['attributes'] = attributes.iloc[0,0]    
    
    return active_restaurant
    
start_time = time.time()
restaurant_id = 'ZP7U4qUCMjIvasWV7a_mgg'
restaurant_id = 'HVd-eGWTnjNYPpgqKt7dCg'    # This is causing
display(alg_restaurant_profile(restaurant_id))   
print("--- %s seconds ---" % (time.time() - start_time))

,name,restaurant_id,avg_rating,total_reviews,neighborhood,address,city,state,zip,categories,attributes
0,Toasted,HVd-eGWTnjNYPpgqKt7dCg,4.0,98,,4221 N 7th Ave,Phoenix,AZ,85013,"American (Traditional),Sandwiches,Restaurants,...","RestaurantsTableService,RestaurantsGoodForGrou..."

--- 0.0439999103546 seconds ---

In [12]:
# ANALYSIS MODE MODULES

In [13]:
# Returns details of user-restaurant rating

def alg_user_restaurant_rating (user_id, restaurant_id):
    
    # Query for review information of this user-restaurant pair 
    sql = """SELECT b.name AS restaurant, b.id AS restaurant_id, u.name AS user, r.user_id AS user_id,
          r.stars AS rating, r.date, r.text AS review, r.useful, r.funny, r.cool 
          FROM review AS r JOIN business AS b ON r.business_id = b.id
          JOIN user AS u ON r.user_id = u.id
          WHERE r.user_id = '{xxx}' AND r.business_id = '{yyy}'"""
    sql = sql.format(xxx=user_id, yyy=restaurant_id)
    user_restaurant_rating = pd.read_sql(sql, engine)
    
    return user_restaurant_rating


start_time = time.time()
active_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
restaurant_id = 'kBJfBVaXJtPEKLTov1hJdQ'
#active_user_id = 'Y7NaaCb4AkNjpdHVLuPCaQ'
#restaurant_id = 'pTZ4u-sEQr-yHq2Cl4EMEw'
display(alg_user_restaurant_rating(active_user_id, restaurant_id))  
print("--- %s seconds ---" % (time.time() - start_time))

,restaurant,restaurant_id,user,user_id,rating,date,review,useful,funny,cool
0,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Polo,CHa6N1KJtRmspb_-5RRjAA,5,2016-04-07,Food is simply amazing!! Veggies were fresh an...,0,0,0

--- 0.0260000228882 seconds ---

In [14]:
# Returns information to build first and second order nodes in the graph
# Returns name and user_id information to build like user nodes at bottom of screen.
# Also contains information to build similarity comparison bar graph of all like user nodes.

def alg_like_users(user_profile_df, selected_user_id, limit):
   
    # 1) Find second-order users (LMU's) who have reviewed the same restaurants as selected user 
    # Notes: 
    # - Performing subquery (vs. Group By) to get friend count so duplicate user_ids remain for rating similarity calculation
    # - Storing selected user's total review count for later use in review overlap calculation
    # - Storing selected user's restaurant ratings and computing max/min vs. each second order user
    # - Limiting first-order restaurants to 10 most popular (by average rating)
    # - Bizarre: MySQL doesn't support Limit in the sub-query, but it's OK in the sub-sub-query
    # - Limiting second-order like-minded user candidate to top 2000 with highest votes (a proxy for influence)
    sql = """SELECT b.name AS restaurant, b.id AS restaurant_id, r.stars, u.name AS user, r.user_id, 
          u.review_count AS total_reviews, (u.useful + u.funny + u.cool) AS votes, u.fans, u.average_stars AS avg_rating, 
         (SELECT COUNT(*) FROM friend AS f WHERE f.user_id = r.user_id) AS friends,
         (SELECT review_count FROM user WHERE id = '{xxx}') AS sel_reviews,
         (SELECT @sel := stars FROM review AS r2 WHERE r2.business_id = r.business_id AND r2.user_id = '{xxx}') AS sel_rating,
         GREATEST(r.stars, @sel) AS max, LEAST(r.stars, @sel) AS min
         FROM review AS r JOIN business AS b ON r.business_id = b.id 
         JOIN user AS u ON r.user_id = u.id 
         WHERE r.user_id != '{xxx}' AND b.id IN 
         (SELECT * FROM (SELECT business_id FROM review WHERE user_id = '{xxx}' ORDER BY stars LIMIT 10) AS x)
         ORDER BY votes DESC LIMIT 2000"""
    sql = sql.format(xxx=selected_user_id)
    like_users = pd.read_sql(sql, engine)
    # 2) Check length of like_users dataframe; If not enough, try adaptive algorithm???
    
    #3) Calculate ratings similarity between selected user and each LMU    
    # Count the number of restaurants reviewed by each user and separately sum the min and max ratings vs. selected user's ratings
    similarity = like_users.groupby('user_id') \
    .agg({'restaurant_id':'size', 'max':'sum', 'min':'sum'}) \
    .rename(columns={'restaurant_id':'shared_val', 'max':'sum_max', 'min':'sum_min'}) \
    .reset_index()
    # Jaccard similarity = Sum (min ratings) / Sum (max ratings) 
    def sim (df):
        #return round(((float(df['sum_min'])/float(df['sum_max'])-0.2)*1.25),2)    # normalized to a 0-5 scale
        return round((float(df['sum_min'])/float(df['sum_max'])),2)
    similarity['rate_sim_score'] = similarity.apply(sim, axis=1)
    # Record the summin / summax values used to calculate rate_sim_score
    def sim_val (df):
        return str(df['sum_min']) + ' / ' + str(df['sum_max'])
    similarity['rate_sim_val'] = similarity.apply(sim_val, axis=1)
    # Join ratings similarity on like user list (duplicating score on multiple user records)
    like_users = pd.merge(like_users, similarity.loc[:,['user_id', 'shared_val', 'rate_sim_val', 'rate_sim_score']], on='user_id') 
    # Drop interim values that are no longer needed
    like_users = like_users.drop(['max', 'min'], axis=1)
     
    # 4) Calculate influence index using functions defined above for user_profile_df 
    like_users['influence_val'] = like_users.apply(influence_calc, axis=1)
    like_users = like_users.drop(['stars', 'avg_rating','votes', 'fans', 'friends'], axis=1)
    # Record the influence score (simply influence value / 5)
    def influence_score (df):
        return round(df['influence_val']/5, 2)
    like_users['influence_score'] = like_users.apply(influence_score, axis=1)

    # 5) Calculate number of shared restaurant reviews 
    # Review similarity = N/5 (this will help get more 1-2 order interconnectons)
    def shared(df):
         return round(min((float(df['shared_val'])/5), 1),2)
    like_users['shared_score'] = like_users.apply(shared, axis=1)

    # 6) Calculate restaurant overlap considering total reviews of both users
    # Create column for combined reviews of both users
    def combined (df):
        return str(df['shared_val']) + ' / ' + str(df['total_reviews']+df['sel_reviews'])
    like_users['overlap_val'] = like_users.apply(combined, axis=1)
    # Review overlap = # shared / logn(combined review count)   but not greater than one
    def overlap (df):
        return round(min((df['shared_val']/math.log(df['total_reviews']+df['sel_reviews'])), 1),2)
    like_users['overlap_score'] = like_users.apply(overlap, axis=1)
    like_users = like_users.drop(['total_reviews', 'sel_reviews'], axis=1)    
    
    # 7) Calculate jaccard similarity of influence indices
    # Add selected user influence to dataframe, using user_profile_df passed in as parameter 
    like_users['sel_influ'] = user_profile_df.iloc[0]['influence']    
    # Influence similarity = min(influence)/max (influence)
    def influ_sim (df):
        return round(min(df['influence_val'], df['sel_influ'])/max(df['influence_val'], df['sel_influ']),2)
    like_users['influ_sim_score'] = like_users.apply(influ_sim, axis=1)
    # Record the value used to calculate the influence similarity
    def influ_sim_val (df):
        return str(min(df['influence_val'], df['sel_influ'])) + ' / ' + str(max(df['influence_val'], df['sel_influ']))
    like_users['influ_sim_val'] = like_users.apply(influ_sim_val, axis=1)
    like_users = like_users.drop(['sel_influ'], axis=1)
    
    # 8) Calculate overall like-mindedness score
    # Like-mindedness = Reviewed restaurant overlap + Restaurant ratings similarity + # Shared reviews  
    #     + User Influence Index + Influence Index similarity
    def final_score (df):
        return round((df['overlap_score'] + df['rate_sim_score'] + df['shared_score'] + df['influence_score'] + df['influ_sim_score']),2)
    like_users['lmu_score'] = like_users.apply(final_score, axis=1)    
    
    # 9) Group by userid to clip at specified limit
    # Note: Taking max of LMU_score to get it into a dataframe 
    limited = like_users.groupby('user_id').agg({'lmu_score':'max'}).reset_index()
    limited.sort_values(['lmu_score'], ascending=False, inplace=True)
    # Note that Pandas does not reindex after sorting; If we don't reindex explictly, limit may choose unordered rows!!
    limited.reset_index(drop=True, inplace=True) 
    # Join the lmu similarity score on the like users list (duplicating score on multiple restaurant records)
    # Inner join to remove users that are beyond the limit
    like_users = pd.merge(like_users, limited.loc[0:limit, ['user_id'] ], on='user_id', how='inner')  
     
    # 10) Order columns by the Like Minded User Similarity table they will fill 
    like_users = like_users[['restaurant', 'restaurant_id', 'user', 'user_id', 'sel_rating', 'shared_val', 'shared_score', \
                             'overlap_val', 'overlap_score', 'rate_sim_val', 'rate_sim_score', 'influence_val', \
                             'influence_score', 'influ_sim_val', 'influ_sim_score', 'lmu_score']]
    
    # 11) Order by LMU similarity 
    like_users.sort_values(['lmu_score', 'user_id'], ascending=False, inplace=True)
    like_users.reset_index(drop=True, inplace=True)    

    return like_users


selected_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
user_profile_df = alg_user_profile(selected_user_id)
lmu_limit = 20
start_time = time.time()
display(alg_like_users(user_profile_df, selected_user_id, lmu_limit))   
print("--- %s seconds ---" % (time.time() - start_time))

,restaurant,restaurant_id,user,user_id,sel_rating,shared_val,shared_score,overlap_val,overlap_score,rate_sim_val,rate_sim_score,influence_val,influence_score,influ_sim_val,influ_sim_score,lmu_score
0,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,richard,Y7NaaCb4AkNjpdHVLuPCaQ,5,2,0.4,2 / 148,0.40,9.0 / 9.0,1.00,2.69,0.54,2.13 / 2.69,0.79,3.13
1,T Cook's,pTZ4u-sEQr-yHq2Cl4EMEw,richard,Y7NaaCb4AkNjpdHVLuPCaQ,4,2,0.4,2 / 148,0.40,9.0 / 9.0,1.00,2.69,0.54,2.13 / 2.69,0.79,3.13
2,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Mark,lOkKgKg99ulUQUw8ZM9Jvg,5,1,0.2,1 / 17,0.35,5.0 / 5.0,1.00,2.23,0.45,2.13 / 2.23,0.96,2.96
3,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Wilson,szwLst3wsUISry7nTtsJlw,5,1,0.2,1 / 17,0.35,5.0 / 5.0,1.00,2.22,0.44,2.13 / 2.22,0.96,2.95
4,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Samantha,JmhVFueYvJe0CsUddwuajw,5,2,0.4,2 / 351,0.34,5.0 / 6.0,0.83,4.46,0.89,2.13 / 4.46,0.48,2.94
5,Waffle House,ZP7U4qUCMjIvasWV7a_mgg,Samantha,JmhVFueYvJe0CsUddwuajw,1,2,0.4,2 / 351,0.34,5.0 / 6.0,0.83,4.46,0.89,2.13 / 4.46,0.48,2.94
6,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,cristina,dH41k50-Kh3O6PfKPSVraA,5,1,0.2,1 / 29,0.30,5.0 / 5.0,1.00,2.14,0.43,2.13 / 2.14,1.00,2.93
7,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Ron,axGqLJ9UWb7P4sBXafOeeA,5,2,0.4,2 / 90,0.44,7.0 / 9.0,0.78,3.71,0.74,2.13 / 3.71,0.57,2.93
8,T Cook's,pTZ4u-sEQr-yHq2Cl4EMEw,Ron,axGqLJ9UWb7P4sBXafOeeA,4,2,0.4,2 / 90,0.44,7.0 / 9.0,0.78,3.71,0.74,2.13 / 3.71,0.57,2.93
9,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Mark,pQX0H6lcHwA25gX1ZC5e1g,5,1,0.2,1 / 33,0.29,5.0 / 5.0,1.00,2.11,0.42,2.11 / 2.13,0.99,2.90
10,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Marco,YAvJmwOnGHQHqJcLSRyFfg,5,1,0.2,1 / 38,0.27,5.0 / 5.0,1.00,2.13,0.43,2.13 / 2.13,1.00,2.90
11,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Justin,NPSCgmhonjJJKmv_J-A43g,5,1,0.2,1 / 25,0.31,5.0 / 5.0,1.00,2.29,0.46,2.13 / 2.29,0.93,2.90
12,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Donny,dmIvmtvpNG6uKSzF0rYBBA,5,1,0.2,1 / 16,0.36,5.0 / 5.0,1.00,1.98,0.40,1.98 / 2.13,0.93,2.89
13,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Sara,yx-bi0Ul8C5ta5WNyvtxmw,5,1,0.2,1 / 27,0.30,5.0 / 5.0,1.00,2.06,0.41,2.06 / 2.13,0.97,2.88
14,T Cook's,pTZ4u-sEQr-yHq2Cl4EMEw,Leslie,pwQ8E-hbDUJe3qtKt_IBBg,4,2,0.4,2 / 563,0.32,8.0 / 10.0,0.80,4.42,0.88,2.13 / 4.42,0.48,2.88
15,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Leslie,pwQ8E-hbDUJe3qtKt_IBBg,5,2,0.4,2 / 563,0.32,8.0 / 10.0,0.80,4.42,0.88,2.13 / 4.42,0.48,2.88
16,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,MariaElena,GJHjtijPuKIn-NeI7qSQ0A,5,1,0.2,1 / 53,0.25,5.0 / 5.0,1.00,2.16,0.43,2.13 / 2.16,0.99,2.87
17,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Hillary,F5qG9mHiMcVWn8B1wm9Lcg,5,1,0.2,1 / 56,0.25,5.0 / 5.0,1.00,2.15,0.43,2.13 / 2.15,0.99,2.87
18,T Cook's,pTZ4u-sEQr-yHq2Cl4EMEw,Fred,sjWvk3DZapZ-9ULAFtDmYw,4,2,0.4,2 / 438,0.33,8.0 / 10.0,0.80,3.75,0.75,2.13 / 3.75,0.57,2.85
19,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Fred,sjWvk3DZapZ-9ULAFtDmYw,5,2,0.4,2 / 438,0.33,8.0 / 10.0,0.80,3.75,0.75,2.13 / 3.75,0.57,2.85
20,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Daniel,OIHN-nJzVOKn12zO45EKtw,5,1,0.2,1 / 33,0.29,5.0 / 5.0,1.00,2.49,0.50,2.13 / 2.49,0.86,2.85
21,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,katie,EqL9V_U54340U6ZZ_rRCLg,5,1,0.2,1 / 53,0.25,5.0 / 5.0,1.00,2.08,0.42,2.08 / 2.13,0.98,2.85
22,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Priscilla,uGcMQYyBa9XzywVa1qZ6bg,5,1,0.2,1 / 38,0.27,5.0 / 5.0,1.00,2.04,0.41,2.04 / 2.13,0.96,2.84
23,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Augustina,gg6tzz7FxWVYhIwA6REjmA,5,1,0.2,1 / 20,0.33,5.0 / 5.0,1.00,1.95,0.39,1.95 / 2.13,0.92,2.84
24,Reathrey Sekong,kBJfBVaXJtPEKLTov1hJdQ,Victoria,Y3ALd9M0tWDHXM-bZu9xzA,5,1,0.2,1 / 52,0.25,5.0 / 5.0,1.00,2.28,0.46,2.13 / 2.28,0.93,2.84
25,T Cook's,pTZ4u-sEQr-yHq2Cl4EMEw,Karen,8fbKh3Y6ctnMxDVgWlHJnw,4,1,0.2,1 / 73,0.23,4.0 / 4.0,1.00,2.17,0.43,2.13 / 2.17,0.98,2.84

--- 1.90499997139 seconds ---

In [15]:
# Note: This is based on the selected user node, not the active user node
# When analysis mode is first entered, the active user node is the selected user node
selected_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
lmu_limit = 20
user_profile_df = alg_user_profile(selected_user_id)
like_users_df = alg_like_users(user_profile_df, selected_user_id, lmu_limit)

like_user_nodes_df = like_users_df.loc[:,['user', 'user_id', 'lmu_score']].drop_duplicates(subset=['user_id'])

display(like_user_nodes_df)

          user                 user_id  lmu_score
0      richard  Y7NaaCb4AkNjpdHVLuPCaQ       3.13
2         Mark  lOkKgKg99ulUQUw8ZM9Jvg       2.96
3       Wilson  szwLst3wsUISry7nTtsJlw       2.95
4     Samantha  JmhVFueYvJe0CsUddwuajw       2.94
6     cristina  dH41k50-Kh3O6PfKPSVraA       2.93
7          Ron  axGqLJ9UWb7P4sBXafOeeA       2.93
9         Mark  pQX0H6lcHwA25gX1ZC5e1g       2.90
10       Marco  YAvJmwOnGHQHqJcLSRyFfg       2.90
11      Justin  NPSCgmhonjJJKmv_J-A43g       2.90
12       Donny  dmIvmtvpNG6uKSzF0rYBBA       2.89
13        Sara  yx-bi0Ul8C5ta5WNyvtxmw       2.88
14      Leslie  pwQ8E-hbDUJe3qtKt_IBBg       2.88
16  MariaElena  GJHjtijPuKIn-NeI7qSQ0A       2.87
17     Hillary  F5qG9mHiMcVWn8B1wm9Lcg       2.87
18        Fred  sjWvk3DZapZ-9ULAFtDmYw       2.85
20      Daniel  OIHN-nJzVOKn12zO45EKtw       2.85
21       katie  EqL9V_U54340U6ZZ_rRCLg       2.85
22   Priscilla  uGcMQYyBa9XzywVa1qZ6bg       2.84
23   Augustina  gg6tzz7FxWVYhIwA6REjmA       2.84
24    Victoria  Y3ALd9M0tWDHXM-bZu9xzA       2.84
25       Karen  8fbKh3Y6ctnMxDVgWlHJnw       2.84

In [16]:
# Returns name and business_id info to build like restaurant nodes at bottom of screen.
# Also contains information to build similarity comparison bar graph of all like restaurant nodes 
# Also returns information to compare similarity of two restaurant nodes
 
def alg_like_restaurants (selected_restaurant_id, limit):
    
    # 1) Find second-order restaurants who have been reviewed by the same users, ordered by avg rating???
    # Notes: 
    # - Storing selected restaurant's total review count for later use in review overlap calculation
    # - Storing selected restaurant's ratings and computing max/min vs. each second order competitor
    # - Limiting first-order reviewing users to 10 most useful
    # - Bizarre: MySQL doesn't support Limit in the sub-query, but it's OK in the sub-sub-query
    # - Limiting second-order competitive restaurants to top 1000 with highest usere rating    
    sql = """SELECT u.name AS user, u.id AS user_id, r.stars AS user_rating, b.name AS restaurant, 
          r.business_id AS restaurant_id, b.postal_code AS zip, b.review_count AS reviews, b.stars AS avg_rating,
          (SELECT postal_code FROM business WHERE id = '{xxx}') AS sel_zip,          
          (SELECT review_count FROM business WHERE id = '{xxx}') AS sel_reviews,
          (SELECT @sel := stars FROM review AS r2 WHERE r2.user_id = r.user_id AND r2.business_id = '{xxx}') AS sel_rating,
          GREATEST(r.stars, @sel) AS max, LEAST(r.stars, @sel) AS min
          FROM review AS r JOIN business AS b ON r.business_id = b.id 
          JOIN user AS u ON r.user_id = u.id
          WHERE r.business_id != '{xxx}' AND u.id IN 
          (SELECT * FROM (SELECT user_id FROM review WHERE business_id = '{xxx}' ORDER BY useful LIMIT 10) AS x)
          ORDER BY r.stars DESC LIMIT 1000"""
    sql = sql.format(xxx=selected_restaurant_id)
    like_restaurants = pd.read_sql(sql, engine)

    # 2) Check length of like_restaurants dataframe; If not enough, try adaptive algorithm???
    #  **** TO_DO **** If less than 500 records, rerun without zipcode restriction in query (zip = '%%' doesn't work)
    # FYI - Way back when we were limiting by same zip code, to speed up things
    # zip = str(restaurant_profile_df.loc[0,'zip'])
    #      WHERE r.business_id != '{xxx}' AND b.postal_code = '{yyy}' AND u.id IN 
    # sql = sql.format(xxx=selected_restaurant_id, yyy=zip)   

    #3) Calculate ratings similarity between selected restaurant and each competitor    
    # Count the number of users reviewing each restaurant and separately sum the min and max ratings vs. same user's review of selected restaurant    similarity = like_restaurants.groupby('user_id') \
    similarity = like_restaurants.groupby('restaurant_id') \
    .agg({'user_id':'size', 'max':'sum', 'min':'sum'}) \
    .rename(columns={'user_id':'shared_val', 'max':'sum_max', 'min':'sum_min'}) \
    .reset_index()
    # Jaccard similarity = Sum (min ratings) / Sum (max ratings) 
    def sim (df):
        #return round(((float(df['sum_min'])/float(df['sum_max'])-0.2)*1.25),2)    # normalized to a 0-5 scale
        return round((float(df['sum_min'])/float(df['sum_max'])),2)
    similarity['rate_sim_score'] = similarity.apply(sim, axis=1)
    # Record the summin / summax values used to calculate rate_sim_score
    def sim_val (df):
        return str(df['sum_min']) + ' / ' + str(df['sum_max'])
    similarity['rate_sim_val'] = similarity.apply(sim_val, axis=1)
    # Join ratings similarity on like restaurant list (duplicating score on multiple restaurant records)
    like_restaurants = pd.merge(like_restaurants, \
                       similarity.loc[:,['restaurant_id', 'shared_val', 'rate_sim_val', 'rate_sim_score']], on='restaurant_id') 
    # Drop interim values that are no longer needed
    like_restaurants = like_restaurants.drop(['max', 'min'], axis=1)
     
    # 4) Calculate number of shared restaurant reviews 
    # Review similarity = N/10 (this will help get more 1-2 order interconnectons)
    def shared(df):
         return round(min((float(df['shared_val'])/10), 1),2)
    like_restaurants['shared_score'] = like_restaurants.apply(shared, axis=1)

    # 5) Calculate restaurant overlap considering total reviews of both restaurants
    # Create column for combined reviews of both users
    def combined (df):
        return str(df['shared_val']) + ' / ' + str(df['reviews']+df['sel_reviews'])
    like_restaurants['overlap_val'] = like_restaurants.apply(combined, axis=1)
    # Review overlap = # shared / logn(combined review count)   but not greater than one
    def overlap (df):
        return round(min((df['shared_val']/(5*math.log(df['reviews']+df['sel_reviews']))), 1),2)
    like_restaurants['overlap_score'] = like_restaurants.apply(overlap, axis=1)
    
    # 6) Calculate jaccard similarity of review counts
    # Review count similarity = logn(min count)/ logn(max count)
    def review_sim (df):
        return round(math.log(min(df['reviews'], df['sel_reviews']))/math.log(max(df['reviews'], df['sel_reviews'])),2)
    like_restaurants['review_sim_score'] = like_restaurants.apply(review_sim, axis=1)
    # Record the value used to calculate the review count similarity
    def review_sim_val (df):
        return str(min(df['reviews'], df['sel_reviews'])) + ' / ' + str(max(df['reviews'], df['sel_reviews']))
    like_restaurants['review_sim_val'] = like_restaurants.apply(review_sim_val, axis=1)
    like_restaurants = like_restaurants.drop(['reviews', 'sel_reviews'], axis=1)  

    #7) Calculate zip code match (yes/no)
    # a if condition else b
    def zip_score (df):
        return 1 if (df['zip'] == df['sel_zip']) else 0
    like_restaurants['zip_score'] = like_restaurants.apply(zip_score, axis=1)   
    # Record the yes/no value
    def zip_val (df):
        return 'Yes' if (df['zip'] == df['sel_zip']) else 'No'
    like_restaurants['zip_val'] = like_restaurants.apply(zip_val, axis=1)
    like_restaurants = like_restaurants.drop(['zip', 'sel_zip'], axis=1)
        
    # 8) Calculate overall competitive similarity score
    # competitive similarity= User ratings similarity + # Shared reviewing users + Total reviewers overlap   
    #     + Review count similarity + Zip code match
    def compete_score (df):
        return round((df['rate_sim_score'] + df['shared_score'] + df['overlap_score'] + df['review_sim_score'] + df['zip_score']),2)
    like_restaurants['compete_score'] = like_restaurants.apply(compete_score, axis=1)    
    
    # 9) Group by userid to clip at specified limit
    # Note: Taking max of LMU_score to get it into a dataframe 
    limited = like_restaurants.groupby('restaurant_id').agg({'compete_score':'max'}).reset_index()
    limited.sort_values(['compete_score'], ascending=False, inplace=True)
    # Note that Pandas does not reindex after sorting; If we don't reindex explictly, limit may choose unordered rows!!
    limited.reset_index(drop=True, inplace=True) 
    # Join the competitor similarity score on the like restaurants list (duplicating score on multiple user records)
    # Inner join to remove restaurants that are beyond the limit
    like_restaurants = pd.merge(like_restaurants, limited.loc[0:limit, ['restaurant_id'] ], on='restaurant_id', how='inner')  
     
    # 10) Order columns by the Like Minded User Similarity table they will fill 
    like_restaurants = like_restaurants[['user', 'user_id', 'restaurant', 'restaurant_id', 'sel_rating', \
                       'shared_val', 'shared_score', 'overlap_val', 'overlap_score', 'review_sim_val', 'review_sim_score', \
                       'rate_sim_val', 'rate_sim_score', 'zip_val', 'zip_score', 'compete_score']]
    
    # 11) Order by LMU similarity 
    like_restaurants.sort_values(['compete_score', 'restaurant_id'], ascending=False, inplace=True)
    like_restaurants.reset_index(drop=True, inplace=True)    

    return like_restaurants


selected_restaurant_id = 'kBJfBVaXJtPEKLTov1hJdQ'
#selected_restaurant_id = 'GqWBT6OcQ9FXTyQ3eegpZg'
#selected_restaurant_id = '4RV97YE8VEw05tu0WO425g'
competitor_limit = 20
start_time = time.time()
display(alg_like_restaurants(selected_restaurant_id, competitor_limit))   
print("--- %s seconds ---" % (time.time() - start_time))

,user,user_id,restaurant,restaurant_id,sel_rating,shared_val,shared_score,overlap_val,overlap_score,review_sim_val,review_sim_score,rate_sim_val,rate_sim_score,zip_val,zip_score,compete_score
0,Nicole,EFMWPHOoiFk_l_FhCMxZ4Q,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,1,0.1,1 / 1025,0.03,392 / 633,0.93,5 / 5,1.00,Yes,1,3.06
1,Mark,Hbe6i_ApQyyseIL74teSTA,Culver's,poX-2lODvtmkR6pve8FXFA,5,1,0.1,1 / 551,0.03,159 / 392,0.85,3 / 5,0.60,Yes,1,2.58
2,Cherry,fr0Nen1J499HvNml3_6OYA,Mary Coyle Ol' Fashion Ice Cream,1r9xmPVZqsiTNQr_FAcs8w,3,1,0.1,1 / 456,0.03,64 / 392,0.70,3 / 4,0.75,Yes,1,2.58
3,Mark,Hbe6i_ApQyyseIL74teSTA,America's Taco Shop,WOz66UuVsfc2K9GxzfDnGg,5,2,0.2,2 / 786,0.06,392 / 394,1.00,8 / 9,0.89,No,0,2.15
4,Cherry,fr0Nen1J499HvNml3_6OYA,America's Taco Shop,WOz66UuVsfc2K9GxzfDnGg,3,2,0.2,2 / 786,0.06,392 / 394,1.00,8 / 9,0.89,No,0,2.15
5,Cherry,fr0Nen1J499HvNml3_6OYA,The Grind,siXCBrVFOXicbM2R-33-8w,3,1,0.1,1 / 797,0.03,392 / 405,0.99,3 / 3,1.00,No,0,2.12
6,Nicole,EFMWPHOoiFk_l_FhCMxZ4Q,Ingo's Tasty Food,mUVAMNN7BCQ9HGA9w_7C1g,5,1,0.1,1 / 766,0.03,374 / 392,0.99,5 / 5,1.00,No,0,2.12
7,Cherry,fr0Nen1J499HvNml3_6OYA,Arcadia Tavern,l8k4gOEkfoLKq0mPVWHWGg,3,1,0.1,1 / 764,0.03,372 / 392,0.99,3 / 3,1.00,No,0,2.12
8,Dann,FRvI9WRrw6IxD6xpjEbNAw,Carolina's Mexican Food North,Ktia9NJfvxVxTLVcEnw9zQ,5,1,0.1,1 / 800,0.03,392 / 408,0.99,5 / 5,1.00,No,0,2.12
9,Cherry,fr0Nen1J499HvNml3_6OYA,Daily Dose Midtown,kne4oWWLq0FFHLA-gWuqoQ,3,1,0.1,1 / 698,0.03,306 / 392,0.96,3 / 3,1.00,No,0,2.09
10,Nicole,EFMWPHOoiFk_l_FhCMxZ4Q,Lola Coffee,jq9gzjKbVWgeMYzA0aFzxw,5,1,0.1,1 / 698,0.03,306 / 392,0.96,5 / 5,1.00,No,0,2.09
11,Cherry,fr0Nen1J499HvNml3_6OYA,Hana Japanese Eatery,CUivTcULsu5MJIYYNVm1zw,3,1,0.1,1 / 907,0.03,392 / 515,0.96,3 / 3,1.00,No,0,2.09
12,Dann,FRvI9WRrw6IxD6xpjEbNAw,Tacos Atoyac,2Yq-Y-tDroP7mdDfcWJLCQ,5,1,0.1,1 / 705,0.03,313 / 392,0.96,5 / 5,1.00,No,0,2.09
13,Mark,Hbe6i_ApQyyseIL74teSTA,Wild Thaiger,Ak08F6RqjHYmVCzweBbTrQ,5,1,0.1,1 / 939,0.03,392 / 547,0.95,5 / 5,1.00,No,0,2.08
14,Dann,FRvI9WRrw6IxD6xpjEbNAw,My Pie Pizza,PJVjfGtVc71M0XlUr83teQ,5,1,0.1,1 / 665,0.03,273 / 392,0.94,5 / 5,1.00,No,0,2.07
15,Cherry,fr0Nen1J499HvNml3_6OYA,BJ's Restaurant & Brewhouse,9vkVY5puIHRfKMgJB4LBnw,3,1,0.1,1 / 668,0.03,276 / 392,0.94,3 / 3,1.00,No,0,2.07
16,Nicole,EFMWPHOoiFk_l_FhCMxZ4Q,Kona Grill,67X6JB3kvZ2B_p8pucgNXA,5,1,0.1,1 / 664,0.03,272 / 392,0.94,5 / 5,1.00,No,0,2.07
17,Dann,FRvI9WRrw6IxD6xpjEbNAw,Los Reyes De La Torta,2g4ZTD3ePNSbDAvh6qAOKQ,5,1,0.1,1 / 964,0.03,392 / 572,0.94,5 / 5,1.00,No,0,2.07
18,Cherry,fr0Nen1J499HvNml3_6OYA,Chicago Gyros,aw0H9O1yysoHB0JanT0Ubw,3,1,0.1,1 / 634,0.03,242 / 392,0.92,3 / 3,1.00,No,0,2.05
19,Dann,FRvI9WRrw6IxD6xpjEbNAw,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2,0.2,2 / 1346,0.06,392 / 954,0.87,9 / 10,0.90,No,0,2.03
20,Kyle,N0Bw1q4XNjxyqyl4Ncfj9A,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2,0.2,2 / 1346,0.06,392 / 954,0.87,9 / 10,0.90,No,0,2.03
21,Kyle,N0Bw1q4XNjxyqyl4Ncfj9A,Fired Pie,ghpFh6XpH1TYZhjAGdx-xw,5,1,0.1,1 / 594,0.03,202 / 392,0.89,5 / 5,1.00,No,0,2.02
22,Cherry,fr0Nen1J499HvNml3_6OYA,Buffalo Wild Wings,W7Dt3b6H_pMIHfxn49Pkzg,3,1,0.1,1 / 593,0.03,201 / 392,0.89,3 / 3,1.00,No,0,2.02

--- 0.56200003624 seconds ---

In [82]:
# Returns all information to build out recommended restaurant third-order nodes.
# Also contains information to build comparison bar graph of third order recommended restaurants. 

def alg_recommended_restaurants (like_users_df, limit): 
    
    # First, get a listing of unique first-order restaurants and second-order like-minded users 
    # Note: like_users df will have duplicate restaurant rows and user rows, so must de-duped!
    restaurant_ids = like_users_df.loc[:,['restaurant_id']].drop_duplicates(subset=['restaurant_id'])
    user_ids = like_users_df.loc[:,['user_id']].drop_duplicates(subset=['user_id'])
    print(user_ids)
    
    # Convert to list and then to a tuple that can be used for SQL "IN"
    restaurant_ids = restaurant_ids.loc[:, 'restaurant_id'].values.tolist()   # Why do I have to slice it again to make it work?
    restaurant_ids = [str(item) for item in restaurant_ids]      # Drop the dreaded unicode label
    if len(restaurant_ids) == 1:
        restaurant_ids = "('"+ restaurant_ids[0] + "')"        # Avoid tuple trailing comma for single elements
    else:
        restaurant_ids = tuple(restaurant_ids)
    user_ids = user_ids.loc[:, 'user_id'].values.tolist()  # Convert dataframe to list
    user_ids = [str(item) for item in user_ids]           # Drop the dreaded unicode label
    if len(user_ids) == 1:
        user_ids = "('"+ user_ids[0] + "')"             # Avoid tuple trailing comma for single elements
    else:
        user_ids = tuple(user_ids)

    # Query for all Yelp restaurants reviewed by the second-order like-minded users 
    # Note: First-order restaurants are excluded becuase we don't want to recommend a restaurant already reviewed by active user
    # Ordered by most popular (highest avg rating) restaurants in case more than 2000 records returned
    sql = """SELECT b.name AS restaurant, b.id AS restaurant_id, b.stars AS avg_rating,
          u.name AS user, r.user_id, r.stars AS lmu_rating
          FROM review AS r JOIN business AS b ON r.business_id = b.id
          JOIN user AS u on r.user_id = u.id
          WHERE r.user_id IN {xxx} AND r.business_id NOT IN {yyy} 
          ORDER BY b.stars DESC LIMIT 2000"""
    sql = sql.format(xxx=user_ids, yyy=restaurant_ids)
    print(sql)   # Troubleshooting 500 Internal Server Error
    reco_restaurants = pd.read_sql(sql, engine)

    # Add LMU user similarity score to the dataframe
    # Note: like_users_df has duplicate userids, so need to de-dup first! 
    lmu_score = like_users_df.loc[:, ['user_id','lmu_score']].drop_duplicates(subset=['user_id'])
    reco_restaurants = pd.merge(reco_restaurants, lmu_score, on='user_id')

    # Calculate LMU rating weighted by their LMU similarity scores 
    def weighted_rel (df):
        return round((float(df['lmu_rating'])*df['lmu_score']),2)
    reco_restaurants['contribution'] = reco_restaurants.apply(weighted_rel, axis=1)
 
    # Aggregate on restaurant_id to sum the subscores and the lmu_scores, and count the number of votes
    # Note: Taking max of avg_rating just to get its value into the relevance table
    relevance = reco_restaurants.groupby('restaurant_id') \
    .agg({'user_id':'size', 'avg_rating':'max', 'lmu_score':'sum', 'contribution':'sum'}) \
    .rename(columns={'user_id':'reviewers', 'lmu_score':'sum_lmu_score', 'contribution':'sum_contribution'}) \
    .reset_index()
    # FYI - These work: 
    #relevance = reco_restaurants.groupby(['restaurant_id'], as_index=False)['lmu_score', 'rel_subscore'].sum()
    #reco_restaurants = reco_restaurants.drop_duplicates(subset=['restaurant_id'])  

    # Normalize subscore sum by dividing by sum of the lmu scores 
    # ADAPTIVE ALGORITHM EXAMPLE:
    # If a restaurant had only one vote, then equally average in the average rating across all reviewers
    # a if condition else b
    def rel_score(df):
        # Alternative A: Always include average rating in calculation
        #return round(((df['avg_rating']*5 + df['sum_contribution'])/(df['sum_lmu_score'] + 5)),2)
        # Alternative B: If a restaurant had only one vote, then include its average rating, weighted at maximum 5 
        return round((df['sum_contribution']/df['sum_lmu_score']) if (df['reviewers'] > 1) else \
                     ((df['avg_rating']*5 + df['sum_contribution'])/(df['sum_lmu_score'] + 5)),2) 
    relevance['relevancy'] = relevance.apply(rel_score, axis=1)

    # Order the relevancy table and limit it 
    # Note that limit is applied here on list of unique restaurants, not on the duplicated restaurant list
    relevance.sort_values(['relevancy'], ascending=False, inplace=True)
    # Also note that Pandas does not reindex after sorting; If we don't do it explictly, limit will choose unordered rows!!
    relevance.reset_index(drop=True, inplace=True)
    rel_calc = relevance.loc[0:limit, ['restaurant_id', 'relevancy']]

    # Join the relevancy score on the recommended restaurant list (duplicating score on multiple user records)
    # Inner join to remove restaurants that are beyond the limit
    reco_restaurants = pd.merge(reco_restaurants, rel_calc, on='restaurant_id', how='inner')  

    # Order dataframe by relevancy score
    reco_restaurants.sort_values(['relevancy', 'restaurant_id'], ascending=False, inplace=True)
    reco_restaurants.reset_index(drop=True, inplace=True)

    return reco_restaurants 

active_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
lmu_limit = 20
reco_limit = 0
user_profile_df = alg_user_profile(active_user_id)
like_users_df = alg_like_users(user_profile_df, active_user_id, lmu_limit)
start_time = time.time()
display(alg_recommended_restaurants(like_users_df, reco_limit))  
print("--- %s seconds ---" % (time.time() - start_time))

                   user_id
0   Y7NaaCb4AkNjpdHVLuPCaQ
2   lOkKgKg99ulUQUw8ZM9Jvg
3   szwLst3wsUISry7nTtsJlw
4   JmhVFueYvJe0CsUddwuajw
6   dH41k50-Kh3O6PfKPSVraA
7   axGqLJ9UWb7P4sBXafOeeA
9   pQX0H6lcHwA25gX1ZC5e1g
10  YAvJmwOnGHQHqJcLSRyFfg
11  NPSCgmhonjJJKmv_J-A43g
12  dmIvmtvpNG6uKSzF0rYBBA
13  yx-bi0Ul8C5ta5WNyvtxmw
14  pwQ8E-hbDUJe3qtKt_IBBg
16  GJHjtijPuKIn-NeI7qSQ0A
17  F5qG9mHiMcVWn8B1wm9Lcg
18  sjWvk3DZapZ-9ULAFtDmYw
20  OIHN-nJzVOKn12zO45EKtw
21  EqL9V_U54340U6ZZ_rRCLg
22  uGcMQYyBa9XzywVa1qZ6bg
23  gg6tzz7FxWVYhIwA6REjmA
24  Y3ALd9M0tWDHXM-bZu9xzA
25  8fbKh3Y6ctnMxDVgWlHJnw
SELECT b.name AS restaurant, b.id AS restaurant_id, b.stars AS avg_rating,
          u.name AS user, r.user_id, r.stars AS lmu_rating
          FROM review AS r JOIN business AS b ON r.business_id = b.id
          JOIN user AS u on r.user_id = u.id
          WHERE r.user_id IN ('Y7NaaCb4AkNjpdHVLuPCaQ', 'lOkKgKg99ulUQUw8ZM9Jvg', 'szwLst3wsUISry7nTtsJlw', 'JmhVFueYvJe0CsUddwuajw', 'dH41k50-Kh3O6PfKPSVraA', 'axGqLJ9UWb7P4sBXafOeeA', 'pQX0H6lcHwA25gX1ZC5e1g', 'YAvJmwOnGHQHqJcLSRyFfg', 'NPSCgmhonjJJKmv_J-A43g', 'dmIvmtvpNG6uKSzF0rYBBA', 'yx-bi0Ul8C5ta5WNyvtxmw', 'pwQ8E-hbDUJe3qtKt_IBBg', 'GJHjtijPuKIn-NeI7qSQ0A', 'F5qG9mHiMcVWn8B1wm9Lcg', 'sjWvk3DZapZ-9ULAFtDmYw', 'OIHN-nJzVOKn12zO45EKtw', 'EqL9V_U54340U6ZZ_rRCLg', 'uGcMQYyBa9XzywVa1qZ6bg', 'gg6tzz7FxWVYhIwA6REjmA', 'Y3ALd9M0tWDHXM-bZu9xzA', '8fbKh3Y6ctnMxDVgWlHJnw') AND r.business_id NOT IN ('pTZ4u-sEQr-yHq2Cl4EMEw', 'kBJfBVaXJtPEKLTov1hJdQ', 'ZP7U4qUCMjIvasWV7a_mgg')
          ORDER BY b.stars DESC LIMIT 2000

,restaurant,restaurant_id,avg_rating,user,user_id,lmu_rating,lmu_score,contribution,relevancy
0,Fàme Caffe,S_bG5WWbtNXhhY9Y0GTcSg,4.5,Leslie,pwQ8E-hbDUJe3qtKt_IBBg,5,2.88,14.40,5.0
1,Fàme Caffe,S_bG5WWbtNXhhY9Y0GTcSg,4.5,Hillary,F5qG9mHiMcVWn8B1wm9Lcg,5,2.87,14.35,5.0

--- 0.46599984169 seconds ---

In [78]:
# Returns all information to build out customer prospect third order nodes.
# Also contains information to build comparison bar graph of all first order rating users,     
#    second order direct competitor restaurants, and third order customer prospect users.
def alg_customer_prospects (like_restaurants_df, limit): 
 
    # First, get a listing of unique first-order reviewers and second-order restaurant competitors 
    # Note: like_restaurants df will have duplicate restaurant rows and user rows, so must de-duped!
    user_ids = like_restaurants_df.loc[:,['user_id']].drop_duplicates(subset=['user_id'])
    restaurant_ids = like_restaurants_df.loc[:,['restaurant_id']].drop_duplicates(subset=['restaurant_id'])

    # Convert to list and then to a tuple that can be used for SQL "IN"
    restaurant_ids = restaurant_ids.loc[:, 'restaurant_id'].values.tolist()   # Why do I have to slice it again to make it work?
    restaurant_ids = [str(item) for item in restaurant_ids]      # Drop the dreaded unicode label
    if len(restaurant_ids) == 1:
        restaurant_ids = "('"+ restaurant_ids[0] + "')"        # Avoid tuple trailing comma for single elements
    else:
        restaurant_ids = tuple(restaurant_ids)
    user_ids = user_ids.loc[:, 'user_id'].values.tolist()  # Convert dataframe to list
    user_ids = [str(item) for item in user_ids]           # Drop the dreaded unicode label
    if len(user_ids) == 1:
        user_ids = "('"+ user_ids[0] + "')"             # Avoid tuple trailing comma for single elements
    else:
        user_ids = tuple(user_ids)
    
    # Query for all the users who reviewed these 2nd order restaurants 
    # Note: First-order reviewers are excluded - don't recommend a prospect who has already reviewed the active restaurant
    # Ordered by most useful reviewers in case more than 1000 records returned
    sql = """SELECT u.name AS user, u.id AS user_id, u.average_stars AS avg_rating,
          b.name AS restaurant, r.business_id AS restaurant_id, r.stars AS user_rating
          FROM review AS r JOIN business AS b ON r.business_id = b.id 
          JOIN user AS u on r.user_id = u.id
          WHERE r.business_id IN {xxx} AND r.user_id NOT IN {yyy}
          ORDER BY u.useful DESC LIMIT 1000"""               
    sql = sql.format(xxx=restaurant_ids, yyy=user_ids)
    customer_prospects = pd.read_sql(sql, engine)
    
    # Add competitor similarity score to the dataframe
    # Note: like_restaurants_df has duplicate restaurant_ids, so need to de-dup first! 
    compete_score = like_restaurants_df.loc[:, ['restaurant_id','compete_score']].drop_duplicates(subset=['restaurant_id'])
    customer_prospects = pd.merge(customer_prospects, compete_score, on='restaurant_id')
 
    # Calculate user's ratings of competitors weighted by their competitive similarity scores 
    def weighted_rel (df):
        return round((float(df['user_rating'])*df['compete_score']),2)
    customer_prospects['contribution'] = customer_prospects.apply(weighted_rel, axis=1)

    # Aggregate on user_id to sum the contributions and the compete_scores, and count the number of user's reviews
    # Note: Taking max of avg_rating just to get it into the relevance df
    relevance = customer_prospects.groupby('user_id') \
    .agg({'restaurant_id':'size', 'avg_rating':'max', 'compete_score':'sum', 'contribution':'sum'}) \
    .rename(columns={'restaurant_id':'reviewed', 'compete_score':'sum_compete_score', 'contribution':'sum_contribution'}) \
    .reset_index()

    # Normalize contribution sum by dividing by sum of the compete scores 
    # If a user had only one review, then equally average in his average rating across all restaurants??? 
    # ***DMT: I don't think this is an issue on the restaurant side (rare for restaurant to have only one review)
    def rel_score(df):
        # Alternative A: Only consider a user's ratings of each restaurant
        #return round((df['sum_contribution']/df['sum_compete_score']),2)
        # Alternative B: If user reviewed only one restaurant, then include user's overall average rating, weighted at maximum 5 
        return round((df['sum_contribution']/df['sum_compete_score']) if (df['reviewed'] > 1) else \
                     ((df['avg_rating']*5 + df['sum_contribution'])/(df['sum_compete_score'] + 5)),2) 
    relevance['relevancy'] = relevance.apply(rel_score, axis=1)

    # Order the relevancy table and limit it 
    # Note that limit is applied here on list of unique restaurants, not on the duplicated restaurant list
    relevance.sort_values(['relevancy'], ascending=False, inplace=True)
    # Also note that Pandas does not reindex after sorting; If we don't do it explictly, limit will choose unordered rows!!
    relevance.reset_index(drop=True, inplace=True)
    rel_calc = relevance.loc[0:limit, ['user_id', 'reviewed', 'relevancy']]

    # Join the relevancy score on the recommended restaurant list (duplicating score on multiple restaurant records)
    # Inner join to remove users that are beyond the limit
    customer_prospects = pd.merge(customer_prospects, rel_calc, on='user_id', how='inner')  

    # Order dataframe by relevancy score
    customer_prospects.sort_values(['relevancy', 'user_id'], ascending=False, inplace=True)
    customer_prospects.reset_index(drop=True, inplace=True)
        
    return customer_prospects 


active_restaurant_id = 'kBJfBVaXJtPEKLTov1hJdQ'
#active_restaurant_id = 'GqWBT6OcQ9FXTyQ3eegpZg'
#active_restaurant_id = '4RV97YE8VEw05tu0WO425g'      
competitor_limit = 20
prospects_limit = 30
restaurant_profile_df = alg_restaurant_profile(active_restaurant_id)
like_restaurants_df = alg_like_restaurants(active_restaurant_id, competitor_limit)
start_time = time.time()
display(alg_customer_prospects(like_restaurants_df, prospects_limit))  
print("--- %s seconds ---" % (time.time() - start_time))

,user,user_id,avg_rating,restaurant,restaurant_id,user_rating,compete_score,contribution,reviewed,relevancy
0,Suzie,zFp22UYxTFPmyFDjkSy7FQ,4.57,The Grind,siXCBrVFOXicbM2R-33-8w,5,2.12,10.60,2,5.00
1,Suzie,zFp22UYxTFPmyFDjkSy7FQ,4.57,Ingo's Tasty Food,mUVAMNN7BCQ9HGA9w_7C1g,5,2.12,10.60,2,5.00
2,Tyrone,tJfV-r8EuxsTSOReSdCvEw,4.29,Hana Japanese Eatery,CUivTcULsu5MJIYYNVm1zw,5,2.09,10.45,2,5.00
3,Tyrone,tJfV-r8EuxsTSOReSdCvEw,4.29,Arcadia Tavern,l8k4gOEkfoLKq0mPVWHWGg,5,2.12,10.60,2,5.00
4,Alicia,tCbEkK11lnqeaNVkhlurrQ,4.34,Carolina's Mexican Food North,Ktia9NJfvxVxTLVcEnw9zQ,5,2.12,10.60,3,5.00
5,Alicia,tCbEkK11lnqeaNVkhlurrQ,4.34,Lola Coffee,jq9gzjKbVWgeMYzA0aFzxw,5,2.09,10.45,3,5.00
6,Alicia,tCbEkK11lnqeaNVkhlurrQ,4.34,Kona Grill,67X6JB3kvZ2B_p8pucgNXA,5,2.07,10.35,3,5.00
7,Michael,nXMMoDzXRByQiWH9cf-FAQ,4.12,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,2,5.00
8,Michael,nXMMoDzXRByQiWH9cf-FAQ,4.12,Ingo's Tasty Food,mUVAMNN7BCQ9HGA9w_7C1g,5,2.12,10.60,2,5.00
9,Esther,m7lhtEIUHjbq-uveFGx1HQ,4.00,Hana Japanese Eatery,CUivTcULsu5MJIYYNVm1zw,5,2.09,10.45,2,5.00
10,Esther,m7lhtEIUHjbq-uveFGx1HQ,4.00,Ingo's Tasty Food,mUVAMNN7BCQ9HGA9w_7C1g,5,2.12,10.60,2,5.00
11,Marie,eBytDMXhIcjfcCfXgL4pgQ,3.00,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,2,5.00
12,Marie,eBytDMXhIcjfcCfXgL4pgQ,3.00,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
13,Taric,YpGt3hdq5adPlEFn9fQ2Zw,3.53,Fired Pie,ghpFh6XpH1TYZhjAGdx-xw,5,2.02,10.10,2,5.00
14,Taric,YpGt3hdq5adPlEFn9fQ2Zw,3.53,Tacos Atoyac,2Yq-Y-tDroP7mdDfcWJLCQ,5,2.09,10.45,2,5.00
15,Lucky,R6vb0FtmClhfwajs_AuusQ,3.72,Daily Dose Midtown,kne4oWWLq0FFHLA-gWuqoQ,5,2.09,10.45,2,5.00
16,Lucky,R6vb0FtmClhfwajs_AuusQ,3.72,Tacos Atoyac,2Yq-Y-tDroP7mdDfcWJLCQ,5,2.09,10.45,2,5.00
17,Juan,PcvbBOCOcs6_suRDH7TSTg,4.23,Los Reyes De La Torta,2g4ZTD3ePNSbDAvh6qAOKQ,5,2.07,10.35,2,5.00
18,Juan,PcvbBOCOcs6_suRDH7TSTg,4.23,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
19,Marc,Ox89nMY8HpT0vxfKGqDPdA,4.06,My Pie Pizza,PJVjfGtVc71M0XlUr83teQ,5,2.07,10.35,2,5.00
20,Marc,Ox89nMY8HpT0vxfKGqDPdA,4.06,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
21,John,Olo_x4fV1sFBtlj6COf9Wg,4.08,Carolina's Mexican Food North,Ktia9NJfvxVxTLVcEnw9zQ,5,2.12,10.60,2,5.00
22,John,Olo_x4fV1sFBtlj6COf9Wg,4.08,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
23,Amy,MOgGz-iTr_vSz12S8bC4mA,4.54,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,2,5.00
24,Amy,MOgGz-iTr_vSz12S8bC4mA,4.54,Ingo's Tasty Food,mUVAMNN7BCQ9HGA9w_7C1g,5,2.12,10.60,2,5.00
25,Jen,LiJzaYCdoVyyhsAReSzkXw,4.11,My Pie Pizza,PJVjfGtVc71M0XlUr83teQ,5,2.07,10.35,2,5.00
26,Jen,LiJzaYCdoVyyhsAReSzkXw,4.11,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
27,Alison,JV4mCFFKgf_AurjiAXqq7w,3.80,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,2,5.00
28,Alison,JV4mCFFKgf_AurjiAXqq7w,3.80,Fired Pie,ghpFh6XpH1TYZhjAGdx-xw,5,2.02,10.10,2,5.00
29,Sol,Eaai36jQHU5IqPezom4w4A,3.89,Culver's,poX-2lODvtmkR6pve8FXFA,5,2.58,12.90,2,5.00
30,Sol,Eaai36jQHU5IqPezom4w4A,3.89,Daily Dose Midtown,kne4oWWLq0FFHLA-gWuqoQ,5,2.09,10.45,2,5.00
31,Fairbi,9w4vI3LRTA4JdJyzOxeEMw,3.88,Los Reyes De La Torta,2g4ZTD3ePNSbDAvh6qAOKQ,5,2.07,10.35,2,5.00
32,Fairbi,9w4vI3LRTA4JdJyzOxeEMw,3.88,Chicago Gyros,aw0H9O1yysoHB0JanT0Ubw,5,2.05,10.25,2,5.00
33,Jason,6AMwQ8cFWIKGbGpVwehkfw,4.01,Los Reyes De La Torta,2g4ZTD3ePNSbDAvh6qAOKQ,5,2.07,10.35,2,5.00
34,Jason,6AMwQ8cFWIKGbGpVwehkfw,4.01,BJ's Restaurant & Brewhouse,9vkVY5puIHRfKMgJB4LBnw,5,2.07,10.35,2,5.00
35,Timothy,15Yrx7yqhGp-uUc5ghCcUg,4.48,My Pie Pizza,PJVjfGtVc71M0XlUr83teQ,5,2.07,10.35,2,5.00
36,Timothy,15Yrx7yqhGp-uUc5ghCcUg,4.48,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,2,5.00
37,Jason,02HJNyOzzYXvEKVApJb8GQ,3.86,Los Reyes De La Torta,2g4ZTD3ePNSbDAvh6qAOKQ,5,2.07,10.35,2,5.00
38,Jason,02HJNyOzzYXvEKVApJb8GQ,3.86,Chicago Gyros,aw0H9O1yysoHB0JanT0Ubw,5,2.05,10.25,2,5.00
39,Ryan,O5VVYDMFsyR8BFpHbIiZ2g,4.94,Hana Japanese Eatery,CUivTcULsu5MJIYYNVm1zw,5,2.09,10.45,1,4.96
40,Drew,PqFNlDtOS0s-MifN8H8vqg,4.85,Daily Dose Midtown,kne4oWWLq0FFHLA-gWuqoQ,5,2.09,10.45,1,4.89
41,Mike,hZFzo6HD06gtj4J7O2ki_Q,4.75,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,1,4.82
42,Alan,0QA_246yXS7g6-V5b90YlA,4.71,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,1,4.79
43,Lisa,Yg5IARu6On6ctmlwNb-e6w,4.69,Original Breakfast House,E4JyAzB5_2quptwtemyhYA,5,2.03,10.15,1,4.78
44,Autum,Qu8a6nCM_0-TJejCSsh2xA,4.66,The Grind,siXCBrVFOXicbM2R-33-8w,5,2.12,10.60,1,4.76
45,Ashley,el3TmKFEFzZOcNbCw2FNlQ,4.56,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,1,4.73
46,Drew,PFdZxoigIvl5bCTsuOMQzQ,4.56,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,1,4.73
47,Mark,sKd6tuqt1W9HHYG3ZEO9xg,4.32,Wild Thaiger,Ak08F6RqjHYmVCzweBbTrQ,5,2.08,10.40,3,4.71
48,Mark,sKd6tuqt1W9HHYG3ZEO9xg,4.32,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,3,4.71
49,Mark,sKd6tuqt1W9HHYG3ZEO9xg,4.32,Arcadia Tavern,l8k4gOEkfoLKq0mPVWHWGg,4,2.12,8.48,3,4.71
50,Nicole,MwWO6axFPTCXqN0DAfUhIQ,4.24,Wild Thaiger,Ak08F6RqjHYmVCzweBbTrQ,4,2.08,8.32,3,4.71
51,Nicole,MwWO6axFPTCXqN0DAfUhIQ,4.24,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,3,4.71
52,Nicole,MwWO6axFPTCXqN0DAfUhIQ,4.24,Lola Coffee,jq9gzjKbVWgeMYzA0aFzxw,5,2.09,10.45,3,4.71
53,Roxy,5jz-BicrPZGCp-Mi-oBRUw,3.96,Gadzooks Enchiladas & Soup,fbQaKW0Lte0JQ_opbnjdKg,5,3.06,15.30,3,4.71
54,Roxy,5jz-BicrPZGCp-Mi-oBRUw,3.96,Hana Japanese Eatery,CUivTcULsu5MJIYYNVm1zw,5,2.09,10.45,3,4.71
55,Roxy,5jz-BicrPZGCp-Mi-oBRUw,3.96,Kona Grill,67X6JB3kvZ2B_p8pucgNXA,4,2.07,8.28,3,4.71
56,Peter,5bto0-EsYMvjpUFToTHvJQ,4.59,Chicago Gyros,aw0H9O1yysoHB0JanT0Ubw,5,2.05,10.25,1,4.71

--- 8.68799996376 seconds ---

In [80]:
# USER GRAPH creates global nodes and links dataframes to build the active user node graph

def alg_user_graph (active_user_id, user_profile_df, like_users_df, recommended_restaurants_df):
    
    # How to build dataframes to represent the graph
    # Begin with objective in mind: JSON structure
    # "nodes": [{
    #      “id": "id1",
    #      "name": "Rest1-1",
    #      "type": "restaurant",
    #      "order": "2"
    #      "score": "3.9"
    # }],
    # "links": [ {
    #      "source": "id1",
    #      "target": "id2",
    #      "src_order": "2",
    #      "score": "2.7"
    # }]        

    # Before running this code, these previous low-level modules have been run:
    # active_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
    # lmu_limit = 10
    # reco_limit = 20
    # user_profile_df = user_profile(active_user_id)
    # like_users_df = like_users(user_profile, active_user_id, lmu_limit)
    # recommended_restaurants_df = recommended_restaurants(like_users, active_user_id, reco_limit)

    # New dataframes to contain the user graph information
    nodes = pd.DataFrame()
    links = pd.DataFrame()

    # Get information for second to third order links 
    linkset = recommended_restaurants_df.loc[:,['user_id', 'restaurant_id', 'lmu_rating']]
    linkset.rename(columns={'user_id': 'source', 'restaurant_id': 'target', 'lmu_rating': 'score'}, inplace=True)  
    # Record the orders of the nodes (counting outward from active_user = 0)
    linkset['src_order'] = 2
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 

    # Get unique third order restaurant information for nodes df
    nodeset = recommended_restaurants_df.loc[:,['restaurant_id', 'restaurant', 'relevancy']].drop_duplicates(subset=['restaurant_id'])
    nodeset.rename(columns={'restaurant_id': 'id', 'restaurant': 'name', 'relevancy': 'score'}, inplace=True)
    nodeset['type'] = 'restaurant'
    nodeset['order'] = 3
    # Append to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Get unique second order user information for nodes df
    nodeset = recommended_restaurants_df.loc[:,['user_id', 'user', 'lmu_score']].drop_duplicates(subset=['user_id'])
    nodeset.rename(columns={'user_id': 'id', 'user': 'name', 'lmu_score': 'score'}, inplace=True)
    nodeset['type'] = 'user'
    nodeset['order'] = 2
    # Append to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Get the subset of second-order like-minded users that had reviewed the most relevant third-order restaurants
    # We do this by applying an inner join of the second order users in reco_restaurants to the users in like_minded_users
    nodeset.rename(columns={'id': 'user_id'}, inplace=True)
    second_order_users = pd.merge(nodeset, like_users_df, on='user_id', how='inner')   # Will this ever reduce???

    # Get information for first to second order links 
    linkset = second_order_users.loc[:,['restaurant_id', 'user_id', 'sel_rating']]
    linkset.rename(columns={'restaurant_id': 'source', 'user_id': 'target', 'sel_rating': 'score'}, inplace=True)  
    # Record the orders of the nodes (counting outward from active_user = 0)
    linkset['src_order'] = 1
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 

    # Get info on the subset of first-order restaurants reviewed by the chosen like-minded users  
    # First, capture their id's for SQL query
    second_order_users.drop_duplicates(subset=['restaurant_id'], inplace=True)
    ids = second_order_users.loc[:, 'restaurant_id'].values.tolist()
    in_ids = [str(item) for item in ids]           # Drop the dreaded unicode label
    if len(in_ids) == 1:
        in_ids = "('"+ in_ids[0] + "')"             # Avoid tuple trailing comma for single elements
    else:
        in_ids = tuple(in_ids)

    # Query for the ratings the active user gave these restaurants
    #**** DMT: Assign value to active_user_id!!!!!!!
    print(active_user_id)
    sql = """SELECT b.id, b.name, r.stars AS score
              FROM review AS r JOIN business AS b ON r.business_id = b.id 
              WHERE r.user_id = '{xxx}' AND b.id IN {yyy}"""
    sql = sql.format(xxx=active_user_id, yyy=in_ids)
    nodeset = pd.read_sql(sql, engine)
    nodeset['type'] = 'restaurant'
    nodeset['order'] = 1
    # Add the first-order restaurants to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Create links from the active user to these first-order restaurants 
    linkset = nodeset.loc[:,['id', 'score']] 
    linkset.rename(columns={'id': 'target'}, inplace=True)
    linkset['source'] = active_user_id
    linkset['src_order'] = 0
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 
    # Keep links columns in preferred order
    links = links[['source', 'target', 'src_order', 'score']] 

    # Finally, add the active user node to the nodes df
    nodeset = pd.DataFrame()
    nodeset['id'] = user_profile_df['user_id']
    nodeset['name'] = user_profile_df['name']
    nodeset['score'] = -1    # Default value for active node
    nodeset['type'] = 'user'
    nodeset['order'] = 0
    nodes = nodes.append(nodeset, ignore_index = True)
    # Keep nodes columns in preferred order
    nodes = nodes[['id', 'name', 'type', 'order', 'score']] 

    # Package the two dataframes into a dictionary
    graph = {'nodes': nodes, 'links': links}
    
    return graph


active_user_id = 'CHa6N1KJtRmspb_-5RRjAA'
like_minded_users_limit = 20
recommended_restaurants_limit = 30
user_profile_df = alg_user_profile(active_user_id)
like_users_df = alg_like_users(user_profile_df, active_user_id, like_minded_users_limit)
recommended_restaurants_df = alg_recommended_restaurants(like_users_df, recommended_restaurants_limit) 

start_time = time.time()
display(alg_user_graph(active_user_id, user_profile_df, like_users_df, recommended_restaurants_df))
print("--- %s seconds ---" % (time.time() - start_time))

                   user_id
0   Y7NaaCb4AkNjpdHVLuPCaQ
2   lOkKgKg99ulUQUw8ZM9Jvg
3   szwLst3wsUISry7nTtsJlw
4   JmhVFueYvJe0CsUddwuajw
6   dH41k50-Kh3O6PfKPSVraA
7   axGqLJ9UWb7P4sBXafOeeA
9   pQX0H6lcHwA25gX1ZC5e1g
10  YAvJmwOnGHQHqJcLSRyFfg
11  NPSCgmhonjJJKmv_J-A43g
12  dmIvmtvpNG6uKSzF0rYBBA
13  yx-bi0Ul8C5ta5WNyvtxmw
14  pwQ8E-hbDUJe3qtKt_IBBg
16  GJHjtijPuKIn-NeI7qSQ0A
17  F5qG9mHiMcVWn8B1wm9Lcg
18  sjWvk3DZapZ-9ULAFtDmYw
20  OIHN-nJzVOKn12zO45EKtw
21  EqL9V_U54340U6ZZ_rRCLg
22  uGcMQYyBa9XzywVa1qZ6bg
23  gg6tzz7FxWVYhIwA6REjmA
24  Y3ALd9M0tWDHXM-bZu9xzA
25  8fbKh3Y6ctnMxDVgWlHJnw
SELECT b.name AS restaurant, b.id AS restaurant_id, b.stars AS avg_rating,
          u.name AS user, r.user_id, r.stars AS lmu_rating
          FROM review AS r JOIN business AS b ON r.business_id = b.id
          JOIN user AS u on r.user_id = u.id
          WHERE r.user_id IN ('Y7NaaCb4AkNjpdHVLuPCaQ', 'lOkKgKg99ulUQUw8ZM9Jvg', 'szwLst3wsUISry7nTtsJlw', 'JmhVFueYvJe0CsUddwuajw', 'dH41k50-Kh3O6PfKPSVraA', 'axGqLJ9UWb7P4sBXafOeeA', 'pQX0H6lcHwA25gX1ZC5e1g', 'YAvJmwOnGHQHqJcLSRyFfg', 'NPSCgmhonjJJKmv_J-A43g', 'dmIvmtvpNG6uKSzF0rYBBA', 'yx-bi0Ul8C5ta5WNyvtxmw', 'pwQ8E-hbDUJe3qtKt_IBBg', 'GJHjtijPuKIn-NeI7qSQ0A', 'F5qG9mHiMcVWn8B1wm9Lcg', 'sjWvk3DZapZ-9ULAFtDmYw', 'OIHN-nJzVOKn12zO45EKtw', 'EqL9V_U54340U6ZZ_rRCLg', 'uGcMQYyBa9XzywVa1qZ6bg', 'gg6tzz7FxWVYhIwA6REjmA', 'Y3ALd9M0tWDHXM-bZu9xzA', '8fbKh3Y6ctnMxDVgWlHJnw') AND r.business_id NOT IN ('kBJfBVaXJtPEKLTov1hJdQ', 'pTZ4u-sEQr-yHq2Cl4EMEw', 'ZP7U4qUCMjIvasWV7a_mgg')
          ORDER BY b.stars DESC LIMIT 2000
CHa6N1KJtRmspb_-5RRjAA

{'links':                     source                  target  src_order  score
 0   pwQ8E-hbDUJe3qtKt_IBBg  _WvEXsx2eZ53lTWHlIx9kg          2      5
 1   yx-bi0Ul8C5ta5WNyvtxmw  _WvEXsx2eZ53lTWHlIx9kg          2      5
 2   JmhVFueYvJe0CsUddwuajw  XC06xxb7FFYsXcI2E38IIw          2      5
 3   pQX0H6lcHwA25gX1ZC5e1g  XC06xxb7FFYsXcI2E38IIw          2      5
 4   EqL9V_U54340U6ZZ_rRCLg  U5Ow3ffmrG4MmTZLK6jd-g          2      5
 5   pwQ8E-hbDUJe3qtKt_IBBg  S_bG5WWbtNXhhY9Y0GTcSg          2      5
 6   F5qG9mHiMcVWn8B1wm9Lcg  S_bG5WWbtNXhhY9Y0GTcSg          2      5
 7   pwQ8E-hbDUJe3qtKt_IBBg  RQTatUj2f9Nz9JViTH4aAQ          2      5
 8   pQX0H6lcHwA25gX1ZC5e1g  RQTatUj2f9Nz9JViTH4aAQ          2      5
 9   sjWvk3DZapZ-9ULAFtDmYw  QsMR_Fp9YRtDegThsOgFLA          2      5
 10  axGqLJ9UWb7P4sBXafOeeA  QsMR_Fp9YRtDegThsOgFLA          2      5
 11  GJHjtijPuKIn-NeI7qSQ0A  GWaS_XugSFzw1g8SEbpmHQ          2      5
 12  sjWvk3DZapZ-9ULAFtDmYw  2iLeiQ4OCJVwfodR9egMag          2      5
 13  pwQ8E-hbDUJe3qtKt_IBBg  2iLeiQ4OCJVwfodR9egMag          2      5
 14  JmhVFueYvJe0CsUddwuajw  2iLeiQ4OCJVwfodR9egMag          2      5
 15  sjWvk3DZapZ-9ULAFtDmYw  0Buxoc0cRqjpvkezo3bqog          2      5
 16  axGqLJ9UWb7P4sBXafOeeA  0Buxoc0cRqjpvkezo3bqog          2      5
 17  sjWvk3DZapZ-9ULAFtDmYw  jsuUmIEefPjV__ads62Z5w          2      5
 18  pwQ8E-hbDUJe3qtKt_IBBg  jsuUmIEefPjV__ads62Z5w          2      4
 19  axGqLJ9UWb7P4sBXafOeeA  jsuUmIEefPjV__ads62Z5w          2      5
 20  uGcMQYyBa9XzywVa1qZ6bg  jsuUmIEefPjV__ads62Z5w          2      5
 21  JmhVFueYvJe0CsUddwuajw  VoTi4yVhTVyFdmxUpoyUsg          2      5
 22  pwQ8E-hbDUJe3qtKt_IBBg  u-SJ5QUwrNquL9VnXwl8cg          2      5
 23  pwQ8E-hbDUJe3qtKt_IBBg  m506zjQ67j0msTfANwB6RA          2      5
 24  pwQ8E-hbDUJe3qtKt_IBBg  in3zjiaLpNzr9G3K35gAJQ          2      5
 25  NPSCgmhonjJJKmv_J-A43g  cTZmf7B-4yciMc1WKiCVOA          2      5
 26  pwQ8E-hbDUJe3qtKt_IBBg  _O2_jwNT_3FDaSRZ50jvrw          2      5
 27  pwQ8E-hbDUJe3qtKt_IBBg  WK6uBV2eSqb2wwEwXoFfNg          2      5
 28  GJHjtijPuKIn-NeI7qSQ0A  QMI6A2H1N3SwKU69SiASJA          2      5
 29  pwQ8E-hbDUJe3qtKt_IBBg  NeDqVEiin0q-FxCvOKiERw          2      5
 ..                     ...                     ...        ...    ...
 31  pwQ8E-hbDUJe3qtKt_IBBg  I_a74zmgR-X03LsKISWPcg          2      5
 32  dH41k50-Kh3O6PfKPSVraA  E_DXCeVllZtHV93hsAIZvw          2      5
 33  pwQ8E-hbDUJe3qtKt_IBBg  E4JyAzB5_2quptwtemyhYA          2      5
 34  pwQ8E-hbDUJe3qtKt_IBBg  DaVTuhzi6EgWStb2eAjNjA          2      5
 35  axGqLJ9UWb7P4sBXafOeeA  AyZePvrWz73d3B0hafFCKA          2      5
 36  sjWvk3DZapZ-9ULAFtDmYw  4RV97YE8VEw05tu0WO425g          2      5
 37  pwQ8E-hbDUJe3qtKt_IBBg  2z7xERz1Nonyw8Kjr4SffA          2      5
 38  EqL9V_U54340U6ZZ_rRCLg  2Yq-Y-tDroP7mdDfcWJLCQ          2      5
 39  pwQ8E-hbDUJe3qtKt_IBBg  2DUdvdQE8FOxCHHp59HHzw          2      5
 40  pwQ8E-hbDUJe3qtKt_IBBg  -kIscN8I29eXMPkvyyxmRQ          2      5
 41  pwQ8E-hbDUJe3qtKt_IBBg  -e_UQJVTzIPweX4TcPUYVw          2      5
 42  pTZ4u-sEQr-yHq2Cl4EMEw  pwQ8E-hbDUJe3qtKt_IBBg          1      4
 43  kBJfBVaXJtPEKLTov1hJdQ  pwQ8E-hbDUJe3qtKt_IBBg          1      5
 44  kBJfBVaXJtPEKLTov1hJdQ  yx-bi0Ul8C5ta5WNyvtxmw          1      5
 45  kBJfBVaXJtPEKLTov1hJdQ  JmhVFueYvJe0CsUddwuajw          1      5
 46  ZP7U4qUCMjIvasWV7a_mgg  JmhVFueYvJe0CsUddwuajw          1      1
 47  kBJfBVaXJtPEKLTov1hJdQ  pQX0H6lcHwA25gX1ZC5e1g          1      5
 48  kBJfBVaXJtPEKLTov1hJdQ  EqL9V_U54340U6ZZ_rRCLg          1      5
 49  kBJfBVaXJtPEKLTov1hJdQ  F5qG9mHiMcVWn8B1wm9Lcg          1      5
 50  pTZ4u-sEQr-yHq2Cl4EMEw  sjWvk3DZapZ-9ULAFtDmYw          1      4
 51  kBJfBVaXJtPEKLTov1hJdQ  sjWvk3DZapZ-9ULAFtDmYw          1      5
 52  kBJfBVaXJtPEKLTov1hJdQ  axGqLJ9UWb7P4sBXafOeeA          1      5
 53  pTZ4u-sEQr-yHq2Cl4EMEw  axGqLJ9UWb7P4sBXafOeeA          1      4
 54  kBJfBVaXJtPEKLTov1hJdQ  GJHjtijPuKIn-NeI7qSQ0A          1      5
 55  kBJfBVaXJtPEKLTov1hJdQ  uGcMQYyBa9XzywVa1qZ6bg          1      5
 56  kBJfBVaXJtPEKLTov1hJdQ  NPSCgmhonjJJKmv_J-A43g          1      5
 57  kBJfBVaXJtPEKLTov1hJdQ  dH41k50-Kh3O6PfKPSVraA          1      5
 58  CHa6N1KJtRmspb_-5RRjAA  ZP7U4qUCMjIvasWV7a_mgg          0      1
 59  CHa6N1KJtRmspb_-5RRjAA  kBJfBVaXJtPEKLTov1hJdQ          0      5
 60  CHa6N1KJtRmspb_-5RRjAA  pTZ4u-sEQr-yHq2Cl4EMEw          0      4

 [61 rows x 4 columns],
 'nodes':                         id                            name        type  order  \
 0   _WvEXsx2eZ53lTWHlIx9kg  Blue Hound Kitchen & Cocktails  restaurant      3
 1   XC06xxb7FFYsXcI2E38IIw            Hillstone Restaurant  restaurant      3
 2   U5Ow3ffmrG4MmTZLK6jd-g             Soup&Sausage Bistro  restaurant      3
 3   S_bG5WWbtNXhhY9Y0GTcSg                      Fàme Caffe  restaurant      3
 4   RQTatUj2f9Nz9JViTH4aAQ        Different Pointe of View  restaurant      3
 5   QsMR_Fp9YRtDegThsOgFLA     Sens Asian Tapas & Sake Bar  restaurant      3
 6   GWaS_XugSFzw1g8SEbpmHQ        Habbouz Tunisian Cuisine  restaurant      3
 7   2iLeiQ4OCJVwfodR9egMag                    Lucky Strike  restaurant      3
 8   0Buxoc0cRqjpvkezo3bqog           Nobuo At Teeter House  restaurant      3
 9   jsuUmIEefPjV__ads62Z5w                 Dick's Hideaway  restaurant      3
 10  VoTi4yVhTVyFdmxUpoyUsg           Sonora Mesquite Grill  restaurant      3
 11  u-SJ5QUwrNquL9VnXwl8cg                 Postino Arcadia  restaurant      3
 12  m506zjQ67j0msTfANwB6RA                    Flower Child  restaurant      3
 13  in3zjiaLpNzr9G3K35gAJQ           Vincent Market Bistro  restaurant      3
 14  cTZmf7B-4yciMc1WKiCVOA                   Welcome Diner  restaurant      3
 15  _O2_jwNT_3FDaSRZ50jvrw               The Joy Bus Diner  restaurant      3
 16  WK6uBV2eSqb2wwEwXoFfNg                   Base Pizzeria  restaurant      3
 17  QMI6A2H1N3SwKU69SiASJA                Couscous Express  restaurant      3
 18  NeDqVEiin0q-FxCvOKiERw    My Slice of the Pie Pizzeria  restaurant      3
 19  JQYkVnUzS5vgFxZgCuW7ag                      Thai E-San  restaurant      3
 20  I_a74zmgR-X03LsKISWPcg                Snoh Ice Shavery  restaurant      3
 21  E_DXCeVllZtHV93hsAIZvw                   Tacos Sahuaro  restaurant      3
 22  E4JyAzB5_2quptwtemyhYA        Original Breakfast House  restaurant      3
 23  DaVTuhzi6EgWStb2eAjNjA        Presidio Cocina Mexicana  restaurant      3
 24  AyZePvrWz73d3B0hafFCKA                JT's Bar & Grill  restaurant      3
 25  4RV97YE8VEw05tu0WO425g                     La Frontera  restaurant      3
 26  2z7xERz1Nonyw8Kjr4SffA                   Tortilla Fish  restaurant      3
 27  2Yq-Y-tDroP7mdDfcWJLCQ                    Tacos Atoyac  restaurant      3
 28  2DUdvdQE8FOxCHHp59HHzw                   Bertha's Café  restaurant      3
 29  -kIscN8I29eXMPkvyyxmRQ                Zookz Sandwiches  restaurant      3
 30  -e_UQJVTzIPweX4TcPUYVw                          Mexx32  restaurant      3
 31  pwQ8E-hbDUJe3qtKt_IBBg                          Leslie        user      2
 32  yx-bi0Ul8C5ta5WNyvtxmw                            Sara        user      2
 33  JmhVFueYvJe0CsUddwuajw                        Samantha        user      2
 34  pQX0H6lcHwA25gX1ZC5e1g                            Mark        user      2
 35  EqL9V_U54340U6ZZ_rRCLg                           katie        user      2
 36  F5qG9mHiMcVWn8B1wm9Lcg                         Hillary        user      2
 37  sjWvk3DZapZ-9ULAFtDmYw                            Fred        user      2
 38  axGqLJ9UWb7P4sBXafOeeA                             Ron        user      2
 39  GJHjtijPuKIn-NeI7qSQ0A                      MariaElena        user      2
 40  uGcMQYyBa9XzywVa1qZ6bg                       Priscilla        user      2
 41  NPSCgmhonjJJKmv_J-A43g                          Justin        user      2
 42  dH41k50-Kh3O6PfKPSVraA                        cristina        user      2
 43  ZP7U4qUCMjIvasWV7a_mgg                    Waffle House  restaurant      1
 44  kBJfBVaXJtPEKLTov1hJdQ                 Reathrey Sekong  restaurant      1
 45  pTZ4u-sEQr-yHq2Cl4EMEw                        T Cook's  restaurant      1
 46  CHa6N1KJtRmspb_-5RRjAA                            Polo        user      0

     score
 0    5.00
 1    5.00
 2    5.00
 3    5.00
 4    5.00
 5    5.00
 6    5.00
 7    5.00
 8    5.00
 9    4.75
 10   4.69
 11   4.68
 12   4.68
 13   4.68
 14   4.68
 15   4.68
 16   4.68
 17   4.68
 18   4.68
 19   4.68
 20   4.68
 21   4.68
 22   4.68
 23   4.68
 24   4.68
 25   4.68
 26   4.68
 27   4.68
 28   4.68
 29   4.68
 30   4.68
 31   2.88
 32   2.88
 33   2.94
 34   2.90
 35   2.85
 36   2.87
 37   2.85
 38   2.93
 39   2.87
 40   2.84
 41   2.90
 42   2.93
 43   1.00
 44   5.00
 45   4.00
 46  -1.00  }

--- 0.148000001907 seconds ---

In [81]:
# ALG_RESTAURANT_GRAPH creates global nodes and links dataframes to build the active restaurant node graph

def alg_restaurant_graph (active_restaurant_id, restaurant_profile_df, like_restaurants_df, customer_prospects_df):
    
    # How to build dataframes to represent the graph
    # Begin with objective in mind: JSON structure
    # "nodes": [{
    #      "id": "id1",
    #      "name": "Rest1-1",
    #      "type": "restaurant",
    #      "order": "2"
    #      "score": "3.9"
    # }],
    # "links": [ {
    #      "source": "id1",
    #      "target": "id2",
    #      "src_order": "2",
    #      "score": "2.7"
    # }]        

    # New dataframes to contain the restaurant graph information
    nodes = pd.DataFrame()
    links = pd.DataFrame()
     
    # Get information for second to third order links 
    linkset = customer_prospects_df.loc[:,['restaurant_id', 'user_id', 'compete_score']]
    linkset.rename(columns={'restaurant_id': 'source', 'user_id': 'target', 'compete_score': 'score'}, inplace=True)  
    # Record the orders of the nodes (counting outward from active_user = 0)
    linkset['src_order'] = 2
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 

    # Get unique third order user information for nodes df
    nodeset = customer_prospects_df.loc[:,['user_id', 'user', 'relevancy']].drop_duplicates(subset=['user_id'])
    nodeset.rename(columns={'user_id': 'id', 'user': 'name', 'relevancy': 'score'}, inplace=True)
    nodeset['type'] = 'user'
    nodeset['order'] = 3
    # Append to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Get unique second order restaurant information for nodes df
    nodeset = customer_prospects_df.loc[:,['restaurant_id', 'restaurant', 'compete_score']].drop_duplicates(subset=['restaurant_id'])
    nodeset.rename(columns={'restaurant_id': 'id', 'restaurant': 'name', 'compete_score': 'score'}, inplace=True)
    nodeset['type'] = 'restaurant'
    nodeset['order'] = 2
    # Append to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Get the subset of second-order direct competitors reviewed by the most relevant third-order users
    # We do this by applying an inner join of the second order restaurants in customer_prospects to the restaurants in like_restaurants
    nodeset.rename(columns={'id': 'restaurant_id'}, inplace=True)
    second_order_users = pd.merge(nodeset, like_restaurants_df, on='restaurant_id', how='inner')   # Will this ever reduce???

    # Get information for first to second order links 
    linkset = second_order_users.loc[:,['user_id', 'restaurant_id', 'sel_rating']]
    linkset.rename(columns={'user_id': 'source', 'restaurant_id': 'target', 'sel_rating': 'score'}, inplace=True)  
    # Record the orders of the nodes (counting outward from active_user = 0)
    linkset['src_order'] = 1
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 

    # Get info on the subset of first-order users who reviewed the chosen direct competitors  
    # First, capture their id's for SQL query
    second_order_users.drop_duplicates(subset=['user_id'], inplace=True)
    ids = second_order_users.loc[:, 'user_id'].values.tolist()
    in_ids = [str(item) for item in ids]           # Drop the dreaded unicode label
    if len(in_ids) == 1:
        in_ids = "('"+ in_ids[0] + "')"             # Avoid tuple trailing comma for single elements
    else:
        in_ids = tuple(in_ids)

    # Query for the ratings the active restaurant received from these users
    sql = """SELECT u.id, u.name, r.stars AS score
              FROM review AS r JOIN user AS u ON r.user_id = u.id 
              WHERE r.business_id = '{xxx}' AND r.user_id IN {yyy}"""
    sql = sql.format(xxx=active_restaurant_id, yyy=in_ids)
    nodeset = pd.read_sql(sql, engine)
    nodeset['type'] = 'user'
    nodeset['order'] = 1
    # Add the first-order restaurants to the nodes df
    nodes = nodes.append(nodeset, ignore_index = True) 

    # Create links from the active restaurant to these first-order users 
    linkset = nodeset.loc[:,['id', 'score']] 
    linkset.rename(columns={'id': 'target'}, inplace=True)
    linkset['source'] = active_restaurant_id
    linkset['src_order'] = 0
    # Append to the links df
    links = links.append(linkset, ignore_index = True) 
    # Keep links columns in preferred order
    links = links[['source', 'target', 'src_order', 'score']] 

    # Finally, add the active restaurant node to the nodes df
    nodeset = pd.DataFrame()
    nodeset['id'] = restaurant_profile_df['restaurant_id']
    nodeset['name'] = restaurant_profile_df['name']
    nodeset['score'] = -1    # Default value for active node
    nodeset['type'] = 'restaurant'
    nodeset['order'] = 0
    nodes = nodes.append(nodeset, ignore_index = True)
    # Keep nodes columns in preferred order
    nodes = nodes[['id', 'name', 'type', 'order', 'score']] 
    
    # Package the two dataframes into a dictionary
    graph = {'nodes': nodes, 'links': links}
    
    return graph


active_restaurant_id = 'kBJfBVaXJtPEKLTov1hJdQ'
#active_restaurant_id = 'GqWBT6OcQ9FXTyQ3eegpZg'
#active_restaurant_id = '4RV97YE8VEw05tu0WO425g'      
competitor_limit = 20
prospects_limit = 30
restaurant_profile_df = alg_restaurant_profile(active_restaurant_id)
like_restaurants_df = alg_like_restaurants(active_restaurant_id, competitor_limit)
customer_prospects_df = alg_customer_prospects(like_restaurants_df, prospects_limit) 

start_time = time.time()
display(alg_restaurant_graph(active_restaurant_id, restaurant_profile_df, like_restaurants_df, customer_prospects_df))
print("--- %s seconds ---" % (time.time() - start_time))

{'links':                     source                  target  src_order  score
 0   siXCBrVFOXicbM2R-33-8w  zFp22UYxTFPmyFDjkSy7FQ          2   2.12
 1   mUVAMNN7BCQ9HGA9w_7C1g  zFp22UYxTFPmyFDjkSy7FQ          2   2.12
 2   CUivTcULsu5MJIYYNVm1zw  tJfV-r8EuxsTSOReSdCvEw          2   2.09
 3   l8k4gOEkfoLKq0mPVWHWGg  tJfV-r8EuxsTSOReSdCvEw          2   2.12
 4   Ktia9NJfvxVxTLVcEnw9zQ  tCbEkK11lnqeaNVkhlurrQ          2   2.12
 5   jq9gzjKbVWgeMYzA0aFzxw  tCbEkK11lnqeaNVkhlurrQ          2   2.09
 6   67X6JB3kvZ2B_p8pucgNXA  tCbEkK11lnqeaNVkhlurrQ          2   2.07
 7   fbQaKW0Lte0JQ_opbnjdKg  nXMMoDzXRByQiWH9cf-FAQ          2   3.06
 8   mUVAMNN7BCQ9HGA9w_7C1g  nXMMoDzXRByQiWH9cf-FAQ          2   2.12
 9   CUivTcULsu5MJIYYNVm1zw  m7lhtEIUHjbq-uveFGx1HQ          2   2.09
 10  mUVAMNN7BCQ9HGA9w_7C1g  m7lhtEIUHjbq-uveFGx1HQ          2   2.12
 11  fbQaKW0Lte0JQ_opbnjdKg  eBytDMXhIcjfcCfXgL4pgQ          2   3.06
 12  E4JyAzB5_2quptwtemyhYA  eBytDMXhIcjfcCfXgL4pgQ          2   2.03
 13  ghpFh6XpH1TYZhjAGdx-xw  YpGt3hdq5adPlEFn9fQ2Zw          2   2.02
 14  2Yq-Y-tDroP7mdDfcWJLCQ  YpGt3hdq5adPlEFn9fQ2Zw          2   2.09
 15  kne4oWWLq0FFHLA-gWuqoQ  R6vb0FtmClhfwajs_AuusQ          2   2.09
 16  2Yq-Y-tDroP7mdDfcWJLCQ  R6vb0FtmClhfwajs_AuusQ          2   2.09
 17  2g4ZTD3ePNSbDAvh6qAOKQ  PcvbBOCOcs6_suRDH7TSTg          2   2.07
 18  E4JyAzB5_2quptwtemyhYA  PcvbBOCOcs6_suRDH7TSTg          2   2.03
 19  PJVjfGtVc71M0XlUr83teQ  Ox89nMY8HpT0vxfKGqDPdA          2   2.07
 20  E4JyAzB5_2quptwtemyhYA  Ox89nMY8HpT0vxfKGqDPdA          2   2.03
 21  Ktia9NJfvxVxTLVcEnw9zQ  Olo_x4fV1sFBtlj6COf9Wg          2   2.12
 22  E4JyAzB5_2quptwtemyhYA  Olo_x4fV1sFBtlj6COf9Wg          2   2.03
 23  fbQaKW0Lte0JQ_opbnjdKg  MOgGz-iTr_vSz12S8bC4mA          2   3.06
 24  mUVAMNN7BCQ9HGA9w_7C1g  MOgGz-iTr_vSz12S8bC4mA          2   2.12
 25  PJVjfGtVc71M0XlUr83teQ  LiJzaYCdoVyyhsAReSzkXw          2   2.07
 26  E4JyAzB5_2quptwtemyhYA  LiJzaYCdoVyyhsAReSzkXw          2   2.03
 27  fbQaKW0Lte0JQ_opbnjdKg  JV4mCFFKgf_AurjiAXqq7w          2   3.06
 28  ghpFh6XpH1TYZhjAGdx-xw  JV4mCFFKgf_AurjiAXqq7w          2   2.02
 29  poX-2lODvtmkR6pve8FXFA  Eaai36jQHU5IqPezom4w4A          2   2.58
 ..                     ...                     ...        ...    ...
 51  fbQaKW0Lte0JQ_opbnjdKg  MwWO6axFPTCXqN0DAfUhIQ          2   3.06
 52  jq9gzjKbVWgeMYzA0aFzxw  MwWO6axFPTCXqN0DAfUhIQ          2   2.09
 53  fbQaKW0Lte0JQ_opbnjdKg  5jz-BicrPZGCp-Mi-oBRUw          2   3.06
 54  CUivTcULsu5MJIYYNVm1zw  5jz-BicrPZGCp-Mi-oBRUw          2   2.09
 55  67X6JB3kvZ2B_p8pucgNXA  5jz-BicrPZGCp-Mi-oBRUw          2   2.07
 56  aw0H9O1yysoHB0JanT0Ubw  5bto0-EsYMvjpUFToTHvJQ          2   2.05
 57  fr0Nen1J499HvNml3_6OYA  siXCBrVFOXicbM2R-33-8w          1   3.00
 58  EFMWPHOoiFk_l_FhCMxZ4Q  mUVAMNN7BCQ9HGA9w_7C1g          1   5.00
 59  fr0Nen1J499HvNml3_6OYA  CUivTcULsu5MJIYYNVm1zw          1   3.00
 60  fr0Nen1J499HvNml3_6OYA  l8k4gOEkfoLKq0mPVWHWGg          1   3.00
 61  FRvI9WRrw6IxD6xpjEbNAw  Ktia9NJfvxVxTLVcEnw9zQ          1   5.00
 62  EFMWPHOoiFk_l_FhCMxZ4Q  jq9gzjKbVWgeMYzA0aFzxw          1   5.00
 63  EFMWPHOoiFk_l_FhCMxZ4Q  67X6JB3kvZ2B_p8pucgNXA          1   5.00
 64  EFMWPHOoiFk_l_FhCMxZ4Q  fbQaKW0Lte0JQ_opbnjdKg          1   5.00
 65  FRvI9WRrw6IxD6xpjEbNAw  E4JyAzB5_2quptwtemyhYA          1   5.00
 66  N0Bw1q4XNjxyqyl4Ncfj9A  E4JyAzB5_2quptwtemyhYA          1   5.00
 67  N0Bw1q4XNjxyqyl4Ncfj9A  ghpFh6XpH1TYZhjAGdx-xw          1   5.00
 68  FRvI9WRrw6IxD6xpjEbNAw  2Yq-Y-tDroP7mdDfcWJLCQ          1   5.00
 69  fr0Nen1J499HvNml3_6OYA  kne4oWWLq0FFHLA-gWuqoQ          1   3.00
 70  FRvI9WRrw6IxD6xpjEbNAw  2g4ZTD3ePNSbDAvh6qAOKQ          1   5.00
 71  FRvI9WRrw6IxD6xpjEbNAw  PJVjfGtVc71M0XlUr83teQ          1   5.00
 72  Hbe6i_ApQyyseIL74teSTA  poX-2lODvtmkR6pve8FXFA          1   5.00
 73  fr0Nen1J499HvNml3_6OYA  aw0H9O1yysoHB0JanT0Ubw          1   3.00
 74  fr0Nen1J499HvNml3_6OYA  9vkVY5puIHRfKMgJB4LBnw          1   3.00
 75  Hbe6i_ApQyyseIL74teSTA  Ak08F6RqjHYmVCzweBbTrQ          1   5.00
 76  kBJfBVaXJtPEKLTov1hJdQ  EFMWPHOoiFk_l_FhCMxZ4Q          0   5.00
 77  kBJfBVaXJtPEKLTov1hJdQ  fr0Nen1J499HvNml3_6OYA          0   3.00
 78  kBJfBVaXJtPEKLTov1hJdQ  FRvI9WRrw6IxD6xpjEbNAw          0   5.00
 79  kBJfBVaXJtPEKLTov1hJdQ  Hbe6i_ApQyyseIL74teSTA          0   5.00
 80  kBJfBVaXJtPEKLTov1hJdQ  N0Bw1q4XNjxyqyl4Ncfj9A          0   5.00

 [81 rows x 4 columns],
 'nodes':                         id                           name        type  order  \
 0   zFp22UYxTFPmyFDjkSy7FQ                          Suzie        user      3
 1   tJfV-r8EuxsTSOReSdCvEw                         Tyrone        user      3
 2   tCbEkK11lnqeaNVkhlurrQ                         Alicia        user      3
 3   nXMMoDzXRByQiWH9cf-FAQ                        Michael        user      3
 4   m7lhtEIUHjbq-uveFGx1HQ                         Esther        user      3
 5   eBytDMXhIcjfcCfXgL4pgQ                          Marie        user      3
 6   YpGt3hdq5adPlEFn9fQ2Zw                          Taric        user      3
 7   R6vb0FtmClhfwajs_AuusQ                          Lucky        user      3
 8   PcvbBOCOcs6_suRDH7TSTg                           Juan        user      3
 9   Ox89nMY8HpT0vxfKGqDPdA                           Marc        user      3
 10  Olo_x4fV1sFBtlj6COf9Wg                           John        user      3
 11  MOgGz-iTr_vSz12S8bC4mA                            Amy        user      3
 12  LiJzaYCdoVyyhsAReSzkXw                            Jen        user      3
 13  JV4mCFFKgf_AurjiAXqq7w                         Alison        user      3
 14  Eaai36jQHU5IqPezom4w4A                            Sol        user      3
 15  9w4vI3LRTA4JdJyzOxeEMw                         Fairbi        user      3
 16  6AMwQ8cFWIKGbGpVwehkfw                          Jason        user      3
 17  15Yrx7yqhGp-uUc5ghCcUg                        Timothy        user      3
 18  02HJNyOzzYXvEKVApJb8GQ                          Jason        user      3
 19  O5VVYDMFsyR8BFpHbIiZ2g                           Ryan        user      3
 20  PqFNlDtOS0s-MifN8H8vqg                           Drew        user      3
 21  hZFzo6HD06gtj4J7O2ki_Q                           Mike        user      3
 22  0QA_246yXS7g6-V5b90YlA                           Alan        user      3
 23  Yg5IARu6On6ctmlwNb-e6w                           Lisa        user      3
 24  Qu8a6nCM_0-TJejCSsh2xA                          Autum        user      3
 25  el3TmKFEFzZOcNbCw2FNlQ                         Ashley        user      3
 26  PFdZxoigIvl5bCTsuOMQzQ                           Drew        user      3
 27  sKd6tuqt1W9HHYG3ZEO9xg                           Mark        user      3
 28  MwWO6axFPTCXqN0DAfUhIQ                         Nicole        user      3
 29  5jz-BicrPZGCp-Mi-oBRUw                           Roxy        user      3
 30  5bto0-EsYMvjpUFToTHvJQ                          Peter        user      3
 31  siXCBrVFOXicbM2R-33-8w                      The Grind  restaurant      2
 32  mUVAMNN7BCQ9HGA9w_7C1g              Ingo's Tasty Food  restaurant      2
 33  CUivTcULsu5MJIYYNVm1zw           Hana Japanese Eatery  restaurant      2
 34  l8k4gOEkfoLKq0mPVWHWGg                 Arcadia Tavern  restaurant      2
 35  Ktia9NJfvxVxTLVcEnw9zQ  Carolina's Mexican Food North  restaurant      2
 36  jq9gzjKbVWgeMYzA0aFzxw                    Lola Coffee  restaurant      2
 37  67X6JB3kvZ2B_p8pucgNXA                     Kona Grill  restaurant      2
 38  fbQaKW0Lte0JQ_opbnjdKg     Gadzooks Enchiladas & Soup  restaurant      2
 39  E4JyAzB5_2quptwtemyhYA       Original Breakfast House  restaurant      2
 40  ghpFh6XpH1TYZhjAGdx-xw                      Fired Pie  restaurant      2
 41  2Yq-Y-tDroP7mdDfcWJLCQ                   Tacos Atoyac  restaurant      2
 42  kne4oWWLq0FFHLA-gWuqoQ             Daily Dose Midtown  restaurant      2
 43  2g4ZTD3ePNSbDAvh6qAOKQ          Los Reyes De La Torta  restaurant      2
 44  PJVjfGtVc71M0XlUr83teQ                   My Pie Pizza  restaurant      2
 45  poX-2lODvtmkR6pve8FXFA                       Culver's  restaurant      2
 46  aw0H9O1yysoHB0JanT0Ubw                  Chicago Gyros  restaurant      2
 47  9vkVY5puIHRfKMgJB4LBnw    BJ's Restaurant & Brewhouse  restaurant      2
 48  Ak08F6RqjHYmVCzweBbTrQ                   Wild Thaiger  restaurant      2
 49  EFMWPHOoiFk_l_FhCMxZ4Q                         Nicole        user      1
 50  fr0Nen1J499HvNml3_6OYA                         Cherry        user      1
 51  FRvI9WRrw6IxD6xpjEbNAw                           Dann        user      1
 52  Hbe6i_ApQyyseIL74teSTA                           Mark        user      1
 53  N0Bw1q4XNjxyqyl4Ncfj9A                           Kyle        user      1
 54  kBJfBVaXJtPEKLTov1hJdQ                Reathrey Sekong  restaurant      0

     score
 0    5.00
 1    5.00
 2    5.00
 3    5.00
 4    5.00
 5    5.00
 6    5.00
 7    5.00
 8    5.00
 9    5.00
 10   5.00
 11   5.00
 12   5.00
 13   5.00
 14   5.00
 15   5.00
 16   5.00
 17   5.00
 18   5.00
 19   4.96
 20   4.89
 21   4.82
 22   4.79
 23   4.78
 24   4.76
 25   4.73
 26   4.73
 27   4.71
 28   4.71
 29   4.71
 30   4.71
 31   2.12
 32   2.12
 33   2.09
 34   2.12
 35   2.12
 36   2.09
 37   2.07
 38   3.06
 39   2.03
 40   2.02
 41   2.09
 42   2.09
 43   2.07
 44   2.07
 45   2.58
 46   2.05
 47   2.07
 48   2.08
 49   5.00
 50   3.00
 51   5.00
 52   5.00
 53   5.00
 54  -1.00  }

--- 0.243000030518 seconds ---